body{
    
    font-size: 12px;
    font-family: "宋体";
    color: #333;
}
.header{
	width: 100%;
	height: 32px;
	border-bottom: 1px solid #ccc;
	background: #f7f7f7;
}
.main{
	width: 1200px;
	margin: 0 auto;

}
.loginBox{
	width: 435px;
	height: 32px;
	float: right;
}
.huanying{
	float: left;
	height: 32px;
	width: 144px;
	font-size: 12px;
	line-height: 32px;
	color: #808080	
}
.dengzhu{
	width: 79px;
	height: 32px;
	float: left;
	margin-left: 10px;
}
.login{
	font-size: 12px;
	line-height: 32px;
	color: #808080;
	float:left;
}
.xian{
	width: 1px;
	height: 12px;
	background: #a0a0a0;
	float:left;
	margin-left: 10px;
	margin-top: 10px;
}
.zhuce{
	margin-left:10px;
}
.dingdan{
	width: 52px;
	height: 32px;
	float: left;
	margin-left: 10px;
	font-size: 12px;
	line-height: 32px;
	color: #808080;
	cursor: pointer;
}
.dingdan:hover{
	color:#B81C22;
}
.gonggao{
	width: 72px;
	height: 32px;
	float: left;
	margin-left: 15px;
	cursor: pointer;
}
.gonggao:hover{
	color:#B81C22;
}
.gonggaoimg{
	margin-top: 5px;
	float: left;
	margin-left: 0px;
}
.gonggaocon{
	float: left;

}
.fenxiang{
	width: 20px;
	height: 32px;
	float: left;
	margin-left: 10px;
	position: relative;
}
.fenx{
	width: 20px;
	height: 32px;
	float: left;
	margin-left: 2px;
}
.fenxiangimg{
	margin-top: 7px;
	cursor: pointer;
}
.fenxiang:hover .weixin{
	display: block;
}
.weixin{
	width: 148px;
    height: 169px;
	background-image: url(../img/weixin.png);
	position: absolute;
	right: 0;
	top: 32px;
	cursor: pointer;
    z-index: 100;
    border: 1px solid #e5e5e5;
    overflow: hidden; 
    display: none;   
}
.main h2{
	background: red;
	font-size: 18px;
	color: #9a9aa7;
	font-weight: normal;
	text-align: center;
	margin-bottom: 45px;
	/*行元素在块元素中水平居中*/
}
.zhuti{
	width: 1200px;
	height: 106px;
	margin: 0 auto;
}
.xinpin{
	font-size: 16px;
	line-height: 106px;
	color: #9a9a9a;
	text-align:center;
}
.diyi{
	width: 1200px;
	height: 1200px;
	margin:0 auto;
}
.shangpin{
	width: 1200px;
	height: 1200px;
	margin: 0 auto;
}
.tupian{
	margin-right: 15px;
	float: left;
}
.tupian3{
	margin-right: 0px;
}
.hanguo{
	width: 1200px;
	height: 513px;
	margin: 0 auto;
}
.hanguo img{
	display: block;
}
.maoshan{
	width: 590px;
	height: 513px;
	margin-right: 17px;
	float: left;
}
.majia{
	width: 290px;
	height: 513px;
	float: left;
}
.chensan{
	width: 286px;
	height: 513px;
	margin-left: 17px;
	float: left;
}
.coco{
	width: 588px;
	height: 72px;
	border-bottom: 1px solid #e8e7ec;
	border-left: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
}
.dog{
	font-size: 16px;
	line-height: 72px;
	color: #333374;
	float:left;
	margin-left: 15px;
}
.jiage{
	font-size: 16px;
	line-height: 72px;
	color: #ab0000;
	float:right;
	margin-right: 15px;
}
.xiao{
	width: 290px;
	height: 250px;
	margin-bottom: 12px;
}
.jiagelan{
	width: 288px;
	height: 75px;
	border-bottom: 1px solid #e8e7ec;
	border-left: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
}
.nomantic{
	width: 284px;
	height: 72px;
	border-bottom: 1px solid #e8e7ec;
	border-left: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
}
.dibu{
	width: 1198px;
	height: 286px;
	margin: 0 auto;
	border-right: 1px solid #e0e0e1;
	border-left: 1px solid #e0e0e1;
	border-bottom: 1px solid #e0e0e1;
	border-top: 1px solid #e0e0e1;
	margin-top: 40px;
}
.dibushang{
	width: 1200px;
	height: 170px;
}
.dibuxia{
	width: 1122px;
	height: 60px;
	margin:0 auto;
	background: #f8f8f8;
	padding-top: 30px;
}
.kuai{
	width: 185px;
	height: 26px;
	border-right: 1px solid #dadadb;
	float: left;
}
.guanyu{
	font-size: 11px;
	line-height: 26px;
	color: #323232;
	text-align:center;
}
.zhongxin{
	border-right: 0px;
}
.kefu{
	width: 396px;
	height: 170px;
	margin-left: 1px;
	border-right: 1px solid #e0e0e1;
	float: left;
	cursor:pointer;
}
.disan{
	border-right: 0;
}
.dibubox{
	margin-top: 40px;
	margin-left: 180px;
}
.dibubox3{
	margin-top: 10px;
	margin-left: 148px;
}
.zaixian{
	width: 160px;
	height: 36px;
	background: #b81c22;
	margin: 0 auto;
}
.nei{
	font-size: 12px;
	line-height: 36px;
	color: #ffffd5;
	text-align:center;
	
}
.nei2{
	font-size: 12px;
	line-height: 36px;
	color: #727171;
	text-align:center;
	
}
.tuihuan{
	width: 160px;
	height: 36px;
	margin: 0 auto;
}
.saoma{
	font-size: 12px;
	line-height: 36px;
	color: #727171;
	text-align:center;
}
.banner{
	width: 1200px;
	height: 535px;
	/*background: blue;*/
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.banner ul .bannertup{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.anniuz{
	width: 23px;
	height: 57px;
	/*背景色*/
	/*background: yellow;*/
	/*背景图*/
	background-image: url(../img/4.png);
	background-position: -1px -3px;
	position: absolute;
	left: 12px;
	/*定位垂直居中*/
	top: 0;
	bottom: 0;
	margin: auto;
	/*鼠标样式*/
	cursor: pointer;
	z-index: 100;

}
.anniuy{
	width: 23px;
	height: 57px;
	/*background: yellow;*/
	background-image: url(../img/4.png);
	background-position: -58px -3px;
	position: absolute;
	right: 12px;
	top: 0;
	bottom: 0;
	margin: auto;
	cursor: pointer;
	z-index: 100;
}

/*伪类选择器*/
.anniuz:hover{
	background-position: -1px -64px;
}
.anniuy:hover{
	background-position: -58px -64px;
}
/*.banner:hover .anniuz{
	background-position: -1px -64px;
}*/

.xiaanniu{
	width: 132px;
	height: 12px;
	/*background: red;*/
	position: absolute;
	bottom: 23px;
	/*定位水平居中*/
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20;
}
.xiaanniu ul{
    overflow: hidden;
}
.xiaanniu ul li{
	width: 12px;
    height: 12px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-right: 8px;
    cursor: pointer;
    background: red;
    border-radius: 12px;
}
.xiaanniu ul li:last-child{
	margin-right: 0;
}
.banner a{
	display: block;
	width: 1200px;
	height: 535px;
}
.daohang{
	width: 1200px;
	height: 170px;
	margin:0 auto;
	border-top:1px solid #fff;
}
.sousuo{
	width: 446px;
	height: 85px;
	float: right;
}
.daohangbox{
	width: 100%;
	height: 85px;
	
	margin-top:100px;
	/*background:red;*/
}
.logo{
	width:185px;
	height:46px;
	float:left;
}
.daohangzi{
	width:1000px;
	height:120px;
	float:right;
	/*background: green;*/

}
        .item{
           width:95px;
           height:18px;
           border-right: 1px solid #888888;
          /* background:#666;*/
           float:left;
           text-align:center;
           position:relative;
           
           margin-top:20px;

       }
         
       .item a{
       	   
          font-size: 16px;
          color: #727171;

       }
       .item ul{
       	/*box-shadow:1px 1px 3px #000;*/
       	    overflow: hidden;
       		z-index:1000;
       		position:absolute;
       		left:0;
       		top:25px;
       		width:100px;
       		/*height:200px;*/
            background:#fff; 
            cursor:pointer;
       }
       .item a:hover{
       	 color:#a10000;
       }
          
       .item ul li{
       	text-align:center;
       	margin-top:20px;
       	font-size:18px;
       	color:#555;
       	height:20px;
       	line-height: 20px
       	cursor:pointer;
       	z-index: 1000;
       font-family: 苹方;
       } 
       .item ul li:last-child{
       	margin-bottom:20px;
       }
       .item ul li:hover{
       	color:red;
       }
      .item .hengxiantiao{
      	margin-top:2px;
       	  width:100px;
       	  height:5px;
       	  background:#b81c22;
       }


.fangkuai{
	width: 99px;
	height: 16px;
	/*border-right: 1px solid #888888;*/
	float: left;
	padding-bottom: 14px;
	position: relative;
}
.fangkuaifirst{
	width: 99px;
	height: 16px;
	border-right: 1px solid #888888;
	float: left;
}
.shouye1{
	font-size: 16px;
	line-height: 16px;
	color: #888888;
	text-align:center;
	cursor: pointer;
}

.shouye1:hover{
	color: #B81C22;
}
.shouye{
	font-size: 16px;
	line-height: 16px;
	color: #888888;
	text-align:center;
	cursor: pointer;
	border-right: 1px solid #888888;
}
.shouyenav{
    width: 99px;
    background: #fff;
    position: absolute;
    left: -2px;
    top: 30px;
    z-index: 100;
    display: none;
}
.shouyenav span{
    display: block;
    width: 100%;
    height: 5px;
    border-top: 5px solid #B81C22;
}
.shouyenav ul{
    border: 1px solid #efefef;
    border-top: 0px;
    padding: 10px 0px;
    /*opacity:2;
    transition: opacity 500ms ease-in-out;*/
}
.shouyenav ul li{
    text-align: center;
    line-height: 35px;
    background: none;
    padding: 0px;
    float: none;
    font-size: 16px;
    color: #888888;
    cursor: pointer; 
}
.shouyenav ul li:hover{
	color: #b81c22;
}
.shouye:hover{
	color: #B81C22;
}
.jiaju{
	border-right: 0;
}
.soubox{
	width: 311px;
	height: 31px;
	/*border: 1px solid #c9caca;*/
	/*background: red;*/
	margin-left: 6px;
	margin-top: 26px;
	cursor: pointer;
}
.soubox input{
	width:260px;
	height:27px;
	float:left;

}

.zhao{
	width: 47px;
	height: 31px;
	float:left;
	background: #b81d23;
}
.wenzi{
	font-size: 14px;
	line-height: 31px;
	color: #fefefc;
	text-align:center;
	cursor: pointer;
	/*border:1px solid #b81d23;*/
}  
.remen{
	width: 424px;
	height: 25px;
	float: right;
}
.hot{
	font-size: 12px;
	line-height: 25px;
	color: #727171;
	float: left;
	margin-left: 8px;
	cursor: pointer;
}
.hot1{
	cursor: auto;
}
.zhixian{
	width: 1200px;
	height: 1px;
	background: #3e3a39;
	margin:25px auto 17px;
}
.dibuzi{
	width: 1200px;
	margin: 0 auto;
	cursor:pointer;
}
.zheng{
	font-size: 11px;
	color: #3e3a39;
	text-align:center;
	margin-bottom: 17px;
}
.gongsi{
	font-size: 11px;
	color: #3e3a39;
	text-align:center;
}
.chengxiwangzhan{
	text-align:center;
	cursor:pointer;
}
.BayWindow{
	position:fixed;
	width:73px;
	height:200px;
	
	left:50%;
	margin-left:600px;
	bottom:55px;
	z-index: 100;
}
.downApp{
	height: 76px;
    background: url(../img/50.png) no-repeat -1px -1px;
    cursor:pointer;
}
.online{
	height: 71px;
    background: url(../img/50.png) no-repeat -1px -78px;
    cursor:pointer;
}
.BlackTop{
	height: 55px;
    background: url(../img/50.png) no-repeat -1px -149px;
    cursor:pointer;
}
.BayWindow ul li {
    width: 73px;
    border: 1px solid #b81b22;
    box-sizing:border-box;
    
}
.gouwu{
	width: 105px;
	height: 29px;
	margin-top: -27px;
	float: right;
	line-height: 27px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	position: relative;
}
.gouwuche{
	margin-top:-4px;
	background-color:#b71c22;
	background: url(../img/vanclsprite.png) no-repeat scroll -154px 0px;
	width: 105px;
	height: 27px;
	border: 1px solid #c1383e;
	/*background: #b71c22;*/
	float: right;
	line-height: 27px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	position: relative;
	z-index: 5;
	cursor:pointer;
	/*padding-left:14px;*/
}
.gouwuche span{
	margin-left:14px;
}
.gouwuche:hover{
	background: #fff;
	border-bottom:1px solid #fff;
	color: #c1383e;
	background: url(../img/vanclsprite.png) no-repeat scroll -153px -29px;;
}
.gouwuche:hover .gouwukuang{
	display:block;
}
.gouwukuang{
	background:yellow;
	height:18px;
	width: 315px;
	border: 1px solid #b81c22;
	position: absolute;
	top:27px; 
	right:0;
	font-size: 12px;
    font-family: "宋体";
    color:black;
	line-height: 16px;
	background: #fff;
	padding: 8px;
	
	text-align: left;
	display: none;
	z-index:20000;
	
}











