@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color:#ffffff;
}

.gouwuche li{
	color:#b0b0b0;
	
    font-size: 20px;
    line-height: 20px;
   margin-left:20px;
   margin-top:10px;
   float:left;
    
}
.gouwuche span{
	color:#b0b0b0;
	
    font-size: 20px;
    line-height: 20px;
   margin-left:15px;
/*   margin-top:10px;*/
   float:left;

    
}




















header{
	height: 40px;
	background-color: #333;
}
.neikuan{
	width: 1226px;
	margin: 0 auto;
/*	overflow:hidden;*/
	
}
.headernav{
	float: left;
	height: 40px;
}
/*.headernav a{
	padding: 0 7px;
	float: left;
	color: #b0b0b0;
	margin-top: 13px;
	font-size: 12px;
	border-right: 2px solid #423d39;
}*/
.headernav a:hover{
	color: #fff;
}
.dengzhu a:hover{
	color: #fff;
}
.headernav span{
	font-style: normal;
	font-size: 12px;
	color: #423d39;
	float: left;
	line-height: 40px;
}
.headernav a{
	padding: 0 7px;
	float: left;
	color: #b0b0b0;
	line-height: 40px;
	font-size: 12px;
}
.dengzhu{
	width:276px;
	float:right;
	/*background:red;*/
	height: 40px;
}
.dengzhu a{
	padding: 0 7px;
	float: left;
	color: #b0b0b0;
	line-height: 40px;
	font-size: 12px;
}
.dengzhu span{
	font-style: normal;
	font-size: 12px;
	color: #b0b0b0;
	float: left;
	line-height: 40px;
}
.dengzhu img{
	
	
	float: right;
	
}/*.headernav a{
	padding: 0 7px;
	float: left;
	color: #b0b0b0;
	line-height: 200px;
	font-size: 12px;
}*/
.gouwuche{
width:120px;
height:40px;
background:#424242;
float:right;
cursor:pointer;
position:relative;
}
.gouwuche:hover{
	background:#fff;
	
}
.gouwuche:hover li{
	background:#fff;
	color:#ff6700;
}
.gouwuche:hover span{
	background:#fff;
	color:#ff6700;
}
.gouwuche:hover .gouwuche1{
	display:block;
}
.gouwuche1{
	width:316px;
	height:98px;
	color:#333;
	position:absolute;
	right:0px;
	top:40px;
	z-index:1000;
	display:none;
    text-align:center;
    font-size:14px;
    background:#fff;
    line-height:98px;
}
.navbox{
	height: 55px;
	float: left;
	margin-top: 22px;
}
.mainnav{
	height: 100px;
}
.logo{
	float: left;
	height: 55px;
}
.logoimg{
	width: 55px;
	height: 55px;
	float: left;
	background-image: url(../img/1.png);
	background-repeat: no-repeat;
	background-position: center center;
}

/*公用样式*/
.mianbgc{
	background-color: #ff6700;
}
.logoimg a{
	display: block;
	width: 100%;
	height: 100%;
}

.logo h2{
	margin-left: 14px;
	width: 180px;
	height: 66px;
	float: left;
	margin-top: -5px;
}
.sousuobox{
	width: 296px;
	height: 50px;
	float: right;
	margin-top: 25px;
	position: relative;
	/*background:yellow;
*/
}
.leftbtn{
	width: 24px;
    height: 16px;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
    position:absolute;
    top:10px;
    right:35px;
    z-index:15555550;
  /*  background:red*/
  text-align:center;
  cursor:pointer;
}
.leftbtn:hover{
	    color: #ff6700;
}
.rightbtn:hover{
	    color: #ff6700;
}
.rightbtn{
	width: 24px;
    height: 16px;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
    position:absolute;
    top:10px;
    right:0;
    z-index:15555550;
/*    background:red*/
text-align:center;
cursor:pointer;
}
.leftBtn{
			width: 50px;
			height: 100px;
			background: url(../img/33.png) no-repeat -84px 50%;
			position: absolute;
			left: 234px;
			top:0;
			bottom: 0;
			margin: auto;
			z-index: 50;
			cursor: pointer;
		}
.leftBtn:hover{
	background-color: rgba(96,96,96,0.5);
}	
.rightBtn:hover{
	background-color: rgba(96,96,96,0.5);
}		
.rightBtn{
			width: 50px;
			height: 100px;
			background: url(../img/33.png) no-repeat -125px 50%;
			position: absolute;
			right: 5px;
			top:0;
			bottom: 0;
			margin: auto;
			z-index: 20;
			cursor: pointer;
		}		




.search{
	width: 283px;
	height: 46px;
	padding-left: 11px; 
	border: 1px solid #e0e0e0;
}
.sousuobtn{
	width: 50px;
	height: 46px;
	position: absolute;
	right: 1px;
	top: 1px;
	/*background-image: url(../img/4.png);*/
	background-repeat: no-repeat;
	border-left: 1px solid #e0e0e0;
    cursor:pointer;
}
.sousuobtn .iconfont{
	color:black;
	font-size:24px;
	color:#616161;
	line-height:46px;
	text-align:center;
}
.sousuobtn:hover{
	background-color:#ff6700;

}
.sousuobtn:hover .iconfont{
	color:#fff;

}
.zi1{
	height:230px;
	width:100%;
	background:#fff;
	position:absolute;
	left:0;
	top:140px;
	z-index:10000;
	display:none;

}
.zi1 li{
	width:204px;
	height:201px;
	float:left;
	
}	
.zi1 li img{
	width:160px;
	height:110px;
	margin-top:40px;
}		
/*.bb{
	width:64px;
	height:17px;
}*/
	


.zi{
float:left;
line-height:60px;
color:#333333;
font-size:16px;
margin-left:15px;
height:200px;
display:block;
}
.zi:hover{
	color:red;

}
.tu{
	float:left;
}
.bannernavzi :hover{
	color:orange;
background:white;
}
.tuijian{
	width:1226px;
	height:170px;
	/*background:red;*/
	margin-top:16px;
	/*overflow:hidden;*/
	margin-bottom:44px;
}
.tuijian1{
	width:234px;
	height:170px;
	background:#5f5750;
	float:left;
	cursor:pointer;
}
.tuijian2{
	width:316px;
	height:170px;
	background:#7baa65;
	float:left;
	margin-left:14px;
}
.tuijian4{
	width:316px;
	height:170px;
	background:#7baa65;
	float:right;
	margin-left:14px;
}
.tuijian2 img{
	width:316px;
	height:170px;
}
.tuijian4 img{
	width:316px;
	height:170px;
}
.xiaomimingxing{
	width:1226px;
	height:405px;
	/*background:red;*/
	margin-bottom:77px;
}
.h2{
	font-size:22px;

}
.xian{
	width:1226px;
	height:1px;
	/*background:black;*/
	margin-top:22px;

}
.xian1{
	width:235px;
	height:1px;
	background:#ffac13;
float:left;
	

}
.xian2{
	width:235px;
	height:1px;
	background:#83c44e;
float:left;


}
.xian3{
	width:235px;
	height:1px;
	background:#2196f3;
float:left;

}
.xian4{
	width:235px;
	height:1px;
	background:#e53935;
float:left;

}
.xian5{
	width:235px;
	height:1px;
	background:#00c0a5;
float:left;


}
.xiaomishangpin{
width:1226px;
height:500px;
position:relative;
overflow: hidden;
	/*background:green;*/


}
.xiaomishangpin1{
	width:235px;
	height:360px;
	background:#fafafa;
float:left;
}
.xiaomishangpin2{
	margin-top:50px;
	width:235px;
	height:360px;
	background:#fafafa;
float:left;
margin-left:12px;
cursor:pointer;
}
.xiaomishangpin2:first-child{
	margin-left:0;
}
.xiaomishangpin2:nth-child(6){
	margin-left:0;
}
.xiaomishangpin3{
	width:235px;
	height:360px;
	background:#fafafa;
float:left;
margin-left:12px;
}
.xiaomishangpin4{
	width:235px;
	height:360px;
	background:#fafafa;
float:left;
margin-left:12px;
}
.xiaomishangpin5{
	width:235px;
	height:360px;
	background:#fafafa;
float:right;
margin-left:12px;
}
.xiaomishangp{
	    width: 1000%;
		position: absolute;
		top: 0;
		left: 0;
}
.xiaomishangpin4 img{
	width:235px;
	height:208px;
}
.xiaomishangpin1 img{
	width:234px;
	height:208px;
}
.xiaomishangpin2 img{
	width:235px;
	height:208px;
}
.xiaomishangpin3 img{
	width:235px;
	height:208px;
}
.xiaomishangpin5 img{
	width:235px;
	height:208px;
	float:right;
}
.shangpinzi1{
	font-size:14px;
	text-align:center;
	color:#464646;
}
.shangpinzi2{
	font-size:12px;
	text-align:center;
	color:#b0b0b0;
	margin-top:10px;
}
.shangpinzi3{
	font-size:14px;
	text-align:center;
	color:red;
	margin-top:10px;
}
.zhinengyingjian{
	/*width:1345px;*/
	height:688px;
	background:#f5f5f5;
/*margin-bottom:20px;*/
}
.zhinengtu{
width:1226px;
	height:614px;
	/*background:yellow;*/
margin-top:19px;


}
.zhinengtuzuo{
width:234px;
	height:614px;
	/*background:red;*/
	float:left;
cursor:pointer;
}

.zhinengtuyou{
width:978px;
	height:614px;
	/*background:green;*/
	float:right;

}

.zhinengyou1{
width:235px;
	height:301px;
	background:#ffffff;
	margin-right:12px;
	float:left;
	cursor:pointer;
}
.zhinengyou2{
width:235px;
	height:301px;
	background:#ffffff;
	/*background:blue;*/
	/*margin-left:13px;*/
	float:right;
	cursor:pointer;
}
.zhinengyou3{
width:235px;
	height:301px;
	background:#ffffff;
	/*background:blue;*/
	margin-top:12px;
	float:left;
	margin-right:12px;
	cursor:pointer;
}
.zhinengyou4{
width:235px;
	height:301px;
	/*background:blue;*/
	/*margin-left:13px;*/
	background:#ffffff;
	float:right;
	margin-top:12px;
	cursor:pointer;
}
.zhinengyou1 img{
	width:160px;
	height:160px;
	margin-left:37.5px;
	margin-top:50px;
}
.zhinengyou2 img{
	width:160px;
	height:160px;
	margin-left:37.5px;
	margin-top:50px;
}
.zhinengyou3 img{
	width:160px;
	height:160px;
	margin-left:37.5px;
	margin-top:50px;
}
.zhinengyou4 img{
	width:160px;
	height:160px;
	margin-left:37.5px;
	margin-top:50px;
}
.zhinengyou1zi1{
	font-size:14px;
	text-align:center;
	color:#464646;
}
.zhinengyou1zi2{
	font-size:12px;
	text-align:center;
	color:#b0b0b0;
	margin-top:10px;
}

.zhinengyou1zi3{
	font-size:14px;
	text-align:center;
	color:red;
	margin-top:10px;
}
.weinintuijian{
/*width:1349px;*/
height:368px;
background:#f5f5f5;

}
.weinitui{
	font-size:20px;
	color:#333333;
	line-height: 20px
}
.tuijiantu{
width:1226px;
height:300px;
/*background:yellow;*/
margin-top:25px;
}
.tuijiantu1{
width:234px;
height:300px;
background:#ffffff;
float:left;
margin-right:13px;
cursor:pointer;
}
.tuijiantu2{
width:234px;
height:300px;
background:#ffffff;
float:right;
cursor:pointer;
}
.tuijiantu1 img{
margin-left:47px;
}

.tuijiantu2 img{
margin-left:47px;
}
.tuijianzi1{
	font-size:14px;
	text-align:center;
	color:#464646;
}
.tuijianzi2{
	font-size:12px;
	text-align:center;
	color:red;
	margin-top:15px;
}
.tuijianzi3{
	font-size:12px;
	text-align:center;
	color:black;
	margin-top:15px;
}
.shipin{
	/*width:1349px;*/
height:334px;
background:#f5f5f5;
}
.shipintu{
	width:1226px;
height:294px;
/*background:green;*/
margin-top:20px;
}
.shipintu1{
width:298px;
height:294px;
/*background:yellow;*/
float:left;
margin-right:11px;
cursor:pointer;
position:relative;
}
.play:hover{
	background:#ff6700;
}
.play{
	 position: absolute;
    left: 20px;
    bottom: 120px;
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    background-color: #424242;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
   /* -webkit-transition: all .2s;
    transition: all .2s;
    overflow: hidden;*/
    cursor:pointer;
}
.play i{
	line-height:14px;
	font-size:16px;
	margin-left:10px;
}
.shipintu2{
width:298px;
height:294px;
/*background:yellow;*/
float:right;
cursor:pointer;
/*margin-right:15px;*/
position:relative;
}
.shipinzi1{
	text-align:center;

color:#333333;
font-size:16px;
margin-top:32px;
}
.shipinzi2{
	text-align:center;

color:#b0b0b0;
font-size:14px;
margin-top:16px;
}
.dibu{

	/*width:1349px;*/
height:300px;
background:#ffffff;
}
.dibu1{
/*width:1226px;*/
height:81px;
border-bottom:1px solid#e0e0e0;
/*background:red;*/

}
.dibuzi1{
	width:245.2px;
	height:81px;
	/*background:red;*/
	float:left;
/*overflow:hidden;*/
line-height:15px;
font-size:18px;
text-align:center;
padding-top:35px;
/*cursor:pointer;*/
}
.dibuzi2{
	width:245.2px;
	height:81px;
	/*background:red;*/
	float:left;
/*overflow:hidden;*/
line-height:15px;
font-size:18px;
text-align:center;
margin-top:18px;
/*cursor:pointer;*/
}
.dibuzi1 img{
	margin-top:2px;
	float:left;
	margin-left:15px;
	cursor:pointer;
}
.dibuzi2 img{
	margin-top:15px;
	float:left;
	margin-left:15px;
	cursor:pointer;
}
.dibuzi3{
	float:left;
	line-height:30px;
     cursor:pointer;
}
.dibuzi4{
	float:left;
	line-height:60px;
     cursor:pointer;
}
.dibuzi3:hover{
	color:#ff6700;
}
.dibuzi4:hover{
	color:#ff6700;
}
/*.dibuzi2{
	width:246px;
	height:81px;
	background:yellow;
	float:right;
overflow:hidden;

}*/
/*.dibujieshaozuo{
	width:977px;
	height:200px;
	background:yellow;
	float:left;
}
.dibujieshaoyou{
	width:249px;
	height:200px;
	background:red;
	float:left;
}
.jieshao1{
	font-size:18px;
	padding-right:30px;
}*/
.dibujieshao{
	width:1226px;
	height:210px;
	/*background:red;*/
overflow:hidden;
}
.dibuzuo{
	width:976px;
	height:210px;
/*	background:yellow;*/
	float:left;
}
.dibuyou{
	width:250px;
	height:210px;
	/*background:green;*/
	float:left;
}
.dibuzuo1{
	width:976px;
	height:28px;
	/*background:red;*/
   cursor:pointer;
}
.dibuzuo2{
	font-size:14px;
	color:#424242;
	margin-right:100px;
	float:left;
	margin-top:5px;
	cursor:pointer;
}

.dibuzuo3{
	width:976px;
	height:28px;
	/*background:red;*/
	margin-top:32px;

}
.dibuzuo4{
	font-size:12px;
	color:#757575;
	margin-right:110px;
	float:left;
	margin-top:5px;
	cursor:pointer;
}
.dibuzuo4:hover{
	color:#ff6700 ;
}
.dibuzuo6:hover{
	color:#ff6700 ;
}
.dibuzuo8:hover{
	color:#ff6700 ;
}
.dibuzuo5{
	width:976px;
	height:28px;
	/*background:red;*/
	margin-top:17px;

}
.dibuzuo6{
	font-size:12px;
	color:#757575;
	margin-right:110px;
	float:left;
	margin-top:5px;
	cursor:pointer;
}
.dibuzuo7{
	width:976px;
	height:28px;
	/*background:red;*/
	margin-top:17px;

}
.dibuzuo8{
	font-size:12px;
	color:#757575;
	margin-right:110px;
	float:left;
	margin-top:5px;
	cursor:pointer;
}
.dibuyou1{
	width:250px;
	height:28px;
	/*background:red;*/
	font-size:18px;
	color:red;
text-align:center;
margin-top:40px;
}
.dibuyou2{
	width:250px;
	height:28px;
	/*background:red;*/
	font-size:10px;
text-align:center;
margin-top:10px;
}
.dibuyou3{
	width:250px;
	height:28px;
	/*background:red;*/
	text-align:center;
	margin-top:10px;
	font-size:10px;
}
.xiamian1{
width:1226px;
height:157px;
background:#fafafa;
margin-top:10px;
}
.gonghao{
	width:1226px;
height:56px;
/*background:red;*/

}
.gonghaozuo{
	width:839px;
height:56px;
/*background:yellow;*/
float:left;
margin-top:30px;
}
.gonghaozuo1{
	width:56px;
height:56px;
/*background:orange;*/
float:left;
}
.gonghaozuo2{
width:780px;
height:56px;
/*background:red;*/
float:right;
}
.gonghaozuo3{
	font-size:10px;
	color:#7589bb;
cursor: pointer
}
.gonghaozuo3:hover{
	color:#ff6700;
}
.gonghaozuo4:hover{
	color:#ff6700;
}
.gonghaozuo5:hover{
	color:#ff6700;
}
.gonghaozuo4{
	font-size:10px;
	color:#b0c0d7;
	margin-top:6px;
	cursor: pointer
}
.gonghaozuo5{
	font-size:10px;
	color:#b0c0d7;
	margin-top:6px;
	cursor: pointer
}
.gonghaoyou{
width:387px;
height:56px;
/*background:green;*/
float:right;
margin-top:30px;

}
.gonghaoyou img{
	margin-top:10px;
	float:right;
}
.banner{
	height:460px;
	background:#ffffff;
}
.bannertu{
	width:1226px;
	height:460px;
	/*background:red;*/
	position:relative;

}
.bannertubox{
	width:1226px;
	height:460px;
	position:relative;
}
.tupian{
	width:1226px;
	height:460px;
	position:absolute;
	left:0;
	top:0;
}
.bannertu ul{
position:absolute;
width:105px;
height:18px;
bottom:20px;

float:right;
right:20px;

z-index: 100;
}
.bannertu ul li{
	float:left;
	width:15px;
	height:15px;
	background:#8d8d8d;
	margin-left:5px;
	border-radius:100%;
	cursor:pointer;
}
.liebiao{
width:234px;
height:460px;
background-color: rgba(96,96,96,0.5);
/*background-color:red;*/
position:absolute;
left:0;
top:0;
z-index:200;
/*overflow:hidden;*/

}
.liebiao1:hover{
	background:orange;
}
.liebiao1{
	width:234px;
	height:42px;
	line-height:42px;
	/*background-color:red;*/
	/*padding-left:20px;*/
	color:white;
	cursor:pointer;
	position:relative;
}
.liebiao2{
width:234px;
height:42px;
background:orange;
display:none;
margin-top:-45px;

}
.liebiao1:nth-child(1){
	margin-top:25px;
}
.shoujidianhuaka1:after{
content:"";
			display: block;
			width: 0;
			height: 0;
			clear: both;
	
}
.shoujidianhuaka:after{
content:"";
			display: block;
			width: 0;
			height: 0;
			clear: both;
	
}
.shoujidianhuaka{
width:795px;
height:458px;
background:#ffffff;
border:1px solid #000000;
position:absolute;
left:234px;
z-index:15000;
top:-25px;
display:none;
}
.aa1{
	top:-67px;
}
.aa2{
	top:-109px;
}
.aa3{
	top:-151px;
}
.aa4{
	top:-193px;
}
.aa5{
	top:-235px;
}
.aa6{
	top:-277px;
}
.aa7{
	top:-319px;
}
.aa8{
	top:-361px;
}
.aa9{
	top:-403px;
}





.shoujidianhauka1{
	width:265px;
	height:76.3px;
	overflow:hidden;
	float:left;
}
.shouji1{
	width:40px;
	height:40px;
	
	float:left;
	margin-left:25px;
    margin-top:20px;      
}
.shoujizi{
width:90px;
height:16px;
color:black;
float:left;
margin-left:14px;
margin-top:20px; 
font-size:14px;
}
.shoujixuangou{
	width:60px;
height:24px;
border:2px solid #f25807;
font-size:16px;
float:left;
color:black;
text-align:center;

margin-top:30px; 
line-height:22px;
}
.shoujixuangou:hover{
	background:#f25807;
}
p{
	margin-left:30px;
}
.zhinengtuzuo img:hover{
   transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
}
.zhinengyou1:hover{
	 transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
}
.zhinengyou2:hover{
	 transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
}
.zhinengyou3:hover{
	 transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
}
.zhinengyou4:hover{
	 transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
}
.tuijiantu1:hover{
	transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
}
.tuijiantu2:hover{
	transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
}
.neirongtu1:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
}
.neirongtu2:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
}
.shipintu1:hover{
	 transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
}
.shipintu2:hover{
	 transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
}
.fifth_zikuang{
	width:1226px;
	height: 56px;

	margin: 0 auto;


}
.fifth_zikuang_zi1{
	width: 90px;
	height: 30px;

    margin-top: 15px;
    float: left;
    }
.fifth_zikuang_zi2{
	width: 90px;
	height: 30px;

    margin-top: 15px;
    float: right;
}
.fifth_zikuang_zi2:hover{
	color:#ff6700;
}
.fifth_zikuang a span{
	float: right;
}
.fifth_box{
	width:1226px;
	height: 614px;
	margin: 0 auto;	
}
.fifth_box_you{
	width: 977px;
	height: 614px;

	float: right;
}
.fifth_box_you1{
	width: 977px;
	height: 300px;

	float: right;
	margin-bottom: 14px;
}
.fifth_box_you1 img{
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto 18px;
  
}

.fifth_box_you1_kuang{
	 width: 233px;
	 height: 300px;
     background: #fff;
	 float: left;
	 margin-right: 11px;
	 position: relative;
	 overflow: hidden;
	 }
.juedui{
	width: 233px;
	height: 75px;
	position: absolute;
	bottom: -75px;
	left: 0px;
	overflow: hidden;
	font-size: 12px;
	background: #ff6700;
	transition: all .3s linear;
}
.juedui a{
	display: block;
	padding: 8px 30px;
	outline: 0;
}
.juedui .review{
	margin-bottom: 5px;
	color: #fff;
	display: block;
}
.juedui .author{
	color: rgba(255, 255, 255, 0.6);
	display: block;
}
.fifth_box_you1_kuang:hover .juedui{
	bottom: 0;
}
.fifth_box_you1_kuang:hover{
	transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
}
.fifth_box_you1_kuang_zi{
	width: 233px;
	height: 97px;

	float: right;
}
.fifth_box_you1_zi{
	text-align: center;
	margin-top:5px; 
	font-size:12px;
}
.fifth_box_you1_zi2{
	 text-align: center;
	 font-size:15px;
	margin-top: 10px;
	color: red;
}
.fifth_box_you2{
	width: 977px;
	height: 300px;

	float: right;
}
.fifth_box_you2 img{
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto 18px;
 } 
 .fifth_box_shang{
 	width: 1226px;
 	height: 300px;
 	margin-bottom: 14px;
 }
.fifth_box_shang img{
    width: 233px;
    height: 200px;
 }
 .fifth_box_shang img{
    width: 233px;
    height: 200px;
 }
 .fifth_box_you1_kuangleft{
 	width: 233px;
 	height: 300px;
 }
.fifth_box_zuo{
 	width: 230px;
 	height: 614px;

 	float: left;
 }
 .fifth_box_zuoimg:hover{
	transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
} 
.fifth_box_zuo img:hover{
	transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
} 
 .fifth_box_zuo img{
width: 230px;
height: 305px;
 }
 .fifth_box_you1_kuang_er{
 	 width: 233px;
	 height: 300px;

	 float: left;
	 margin-right: 11px;
 }
 .fifth_box_you1_kuang_shang{
 	width: 233px;
 	height: 145px;
 
 	margin-bottom: 10px;
 }
 .fifth_box_you1_kuang_shang:hover{
 	transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
 }
 .fifth_box_you1_kuang_er img{
 	height: 145px;
 	width: 115px;
 	float: right;
 }
 .fifth_box_you1_kuang_shang_zi{
 	width: 88px;
 	height: 33px;
 	
 	margin-right: 10px;
 	margin-top: 15px;
 	float: right;
 }
 .fifth_box_you1_kuang_shang_zi_shang{
 	text-align: center;
	margin-top:5px; 
	font-size:15px;
 }
 .fifth_box_you1_kuang_shang_zi_xia{
 	color:#ff6700;
 	 text-align: center;
	
	font-size:15px;
	margin-top: 10px;
 }
 .weinituijian{
 	width: 1226px;
 	height: 300px;
 
 	margin: 0 auto;
 }
 .weinituijian_kuang{
 	width: 230px;
 	height: 300px;
 
 	float: left;
 	margin-right: 15px;
 }
 .weinitui{
 	line-height:50px;
 	display:block;
 	height:30px;
 	
 }
 .weinituijian_kuang:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px 3px #ccc;
    transition: all .3s linear;
}
 .weinituijian_kuang img{
 	width:230px;
 	height: 230px;
 	margin-right: 15px;
 	display: block;
 }
 .weinituijian_kuang1{
 	width: 230px;
 	height: 70px;
 
 }
.sousuoboxzi{
	width:52px;
	height:18px;
	background:#ccc;
	position:absolute;
	top:14px;
	right:180px;
	font-size:12px;
	text-align:center;
    cursor:pointer;
}
.sousuoboxzi1{
	width:104px;
	height:18px;
	background:#ccc;
	position:absolute;
	top:14px;
	right:65px;
	font-size:12px;
	text-align:center;
	cursor:pointer;

}
.sousuoboxzi:hover{
	background:#ff6700;
	color:#fff;
}
.sousuoboxzi1:hover{
	background:#ff6700;
	color:#fff;
}
.neirong{
	height:58px;
	line-height:58px;
	background:#f5f5f5;
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.quantiankefu{
	width:120px;
	height:30px;
	border:1px solid #f25807;
	margin:0 auto;
}
.quantiankefu:hover{
	color:#fff;
	background-color:#f25807;
	/*color:#fff;*/
}
.quantiankefu:hover span{
	color:#fff;
}
.quantiankefu:hover li{
	color:#fff;
}
.quantiankefu span{
	font-size:12px;
	color:#f25807;
	line-height:35px;
	float:left;
	margin-left:10px;
	cursor:pointer;
}
.quantiankefu li{
	font-size:12px;
	color:#f25807;
	line-height:30px;
	float:left;
	margin-left:7px;
	cursor:pointer;
}
.neirong1{
	height:420px;
	background:#f5f5f5;
}
.neirong2{
	width:1226px;
	height:420px;
	/*background:green;*/
}
.tushu{
	width:296px;
	height:420px;
	background:#fff;
	float:left;
	overflow:hidden;
    position:relative;
}
.zhuti{
	width:296px;
	height:420px;
	background:#fff;
	float:left;
	margin-left:14px;
	overflow:hidden;
    position:relative;
}
.youxi{
	width:296px;
	height:420px;
	background:#fff;
	float:left;
	margin-left:14px;
	overflow:hidden;
    position:relative;
}
.yingyong{
	width:296px;
	height:420px;
	background:#fff;
	float:left;
	margin-left:14px;
	overflow:hidden;
    position:relative;

}
.box{
   width:900px;
   height:420px;
}
.box1{
   width:1200px;
   height:420px;
}
.box ul li{
	width:296px;
	height:420px;
	overflow:hidden;
    float: left;
}
.box1 ul li{
	width:296px;
	height:420px;
	overflow:hidden;
    float: left;
}
.name{

	
	margin-top:88px;
	margin-left:36px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:black;
    cursor:pointer;
}
.name1{
	margin-left:110px;
}
.desc{
	cursor:pointer;
	margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    _zoom: 1;
    color: #b0b0b0;
}
.desc1{
	margin-top:88px;
}
.price{
	height: 21px;
    margin: 0 10px 15px;
    text-align: center;
    color: #333;
    font-size:14px;
    cursor:pointer;
}
.figerimg{
width: 216px;
height: 154px;
margin: 0 auto;
cursor:pointer;
}
.gengduoyuedu{
	width:120px;
	height:30px;
	border:1px solid #ff920f;
	text-align:center;
	line-height:30px;
	cursor:pointer;
	font-size:12px;
	color: #ff920f;
	margin:0 auto;
}
.gengduoyuedu1{
	border:1px solid #2196f3;
	color:#2196f3;
}
.gengduoyuedu:hover{
	background:#ff920f;
	color:#fff;
}
.gengduoyuedu:hover{
	background:#2196f3;
	color:#fff;
}
.left{
	width:20px;
	height:48px;
	/*background-color: rgba(66,66,66,0.6);*/
	position:absolute;
	top:50%;
     color:#fff;
	left:0;
	cursor:pointer;
	line-height:48px;
	text-align:center;
}
.left:hover{
	background-color: rgba(66,66,66,0.6);
	transition: all 1.5s linear;

}
.right{
	width:20px;
	height:48px;
	/*background-color: rgba(66,66,66,0.6);*/
	position:absolute;
	top:50%;
     color:#fff;
	right:0;
	cursor:pointer;
	line-height:48px;
	text-align:center;
	/*background:red;*/
}

.right:hover{
	background-color: rgba(66,66,66,0.6);
	transition: all 1.5s linear;

}
.shulunbodian{
	width:100px;
	height:30px;
	/*background:red;*/
	position:absolute;
	bottom:20px;
	left:85px;
}
.shulunbodian2{
	width:120px;
	height:30px;
	/*background:red;*/
	position:absolute;
	bottom:20px;
	left:75px;
}
.shulunbodian1{
	width:10px;
	height:10px;
	border-radius:100%;
	background:#b0b0b0;
	cursor:pointer;
	float:left;
	margin-left:20px;
	margin-top:15px;
}
.shulunbodian1:hover{
	background:#ff6700;
}
.tushu:hover .right{
	background-color: rgba(66,66,66,0.6);
	transition: all 1.5s linear;
}
.tushu:hover .left{
	background-color: rgba(66,66,66,0.6);
	transition: all 1.5s linear;
}
.youxi:hover .right{
	background-color: rgba(66,66,66,0.6);
	transition: all 1.5s linear;
}
.youxi:hover .left{
	background-color: rgba(66,66,66,0.6);
	transition: all 1.5s linear;
}
.zhuti:hover .right{
	background-color: rgba(66,66,66,0.6);
	transition: all 1.5s linear;
}
.zhuti:hover .left{
	background-color: rgba(66,66,66,0.6);
	transition: all 1.5s linear;
}
.yingyong:hover .right{
	background-color: rgba(66,66,66,0.6);
	transition: all 1.5s linear;
}
.yingyong:hover .left{
	background-color: rgba(66,66,66,0.6);
	transition: all 1.5s linear;
}
.tushuzi{
	font-size:16px;
	text-align:center;
	position:absolute;
	left:50%;
	top:50px;
	color:#ffac13;
}
.tushuzi1{
	color:#83c44e;
	margin-left:-40px;
}
.tushuxian1{
	background:red;

}
.tushuxian{
	position:absolute;
	top:0;
	left:0;
	width:296px;
	height:1px;
	background:#ffac13;
}
.tushuxian1{
	background:#83c44e;

}
.tushuxian2{
	background:#e53935;

}
.tushuxian3{
	background:#2196f3;

}
.tushuzi2{
	color:#e53935;
/*	margin-left:-40px;*/
}
.tushuzi3{
	color:#2196f3;
    margin-left:-30px;
}
.name2{
	margin-left:80px;
}
.name3{
	margin-left:80px;
}
.name4{
	margin-left:80px;
}










































