@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
 color:red;
	  }
/*.beijing i .iconfont{
	color:yellow;
}
*/
.jddaohang{
    top: 0;
   
    left: 0;
    padding-right: 30px;
    background-color: #fff;
    position: fixed;
    height: 48px;
    z-index: 100;
    border-bottom:2px solid red;
    /*display: none;*/
    margin:0 auto;
    width:100%;
}
.jddaohang input{
    width: 640px;
    outline: transparent dotted 0;
    padding: 7px 3px 7px 5px;
    float: right;
    margin-top: 7px;
    margin-right: 297px;
}
.jddaohang p{
    width: 90px;
    height: 32px;
    background: #c40000;
    position: absolute;
    top: 7.5px;
    right: 326px;
    text-align: center;
    line-height: 32px;
    color: #fff;
}


.dingbu{
height:80px;
width:100%;
display:block;
background-image:url(../img/1.jpg);
background-repeat:no-repeat;
background-position:center;
background-color:#000000;
cursor: pointer;
}
.dengzhu{
height:31px;
background-color:#e3e4e5;

}
.neikuan{
width:1190px;
margin:0 auto;
/*overflow:hidden;*/
}
.zhuce{
width:1190px;
height:31px;
/*background-color:red;*/

}
.beijing{
	margin-left:30px;
	/*background-color:green;*/
	width:80px;
	height:31px;
	float:left;
	font-size:14px;
	line-height:29px;
	position:relative;
}
.beijing1{
position:absolute;
width:322px;
height:218px;
background:#fff;
left:0;
top:31px;
z-index: 1000000;
display: none;
}
.beijing2{

width:322px;
height:218px;
/*background:yellow;*/

}
.beijing2 li{
	width:322px;
	height:25px;
	margin-top:5px;
	/*background:#fff;*/
}
.beijing3 li{
	text-align:center;
	float:left;
	width:45px;
	height:24px;
	/*background-color: green;*/
	margin-left:20px;
	color:#ccc;
}
.beijing3 li:hover{
	/*text-align:center;*/
	/*color:#c81623;*/
	cursor:pointer;
	
	
}
.beijing3 li:nth-child(1){
	margin-left:10px;
}
.beijing3 li:nth-child(6){
	margin-left:10px;
}
.beijing3 li:nth-child(11){
	margin-left:10px;
}
.beijing3 li:nth-child(16){
	margin-left:10px;
}
.beijing3 li:nth-child(21){
	margin-left:10px;
}
.beijing3 li:nth-child(26){
	margin-left:10px;
}
.beijing3 li:nth-child(31){
	margin-left:10px;
}
.beijing:hover{
	background:white;
}
.beijing:hover .beijing1{
	display: block;
}
.dizhitu{
/*background-color:yellow;*/
width:16px;
height:16px;
float:left;
margin-top:3px;
}
.dizhizi{
margin-right:10px; 
float:right;
margin-top:8px;
font-size:14px;
line-height:16px;
color:#a499b0;
width:45px;
height:16px;
/*background:red;*/
}
.beijing .iconfont{
	font-size:14px;
	float:left;
	/*background:yellow;*/
	margin-top:0px;

	/*text-align: center;*/
}
.zhuceyou{
	float:right;
	/*background-color:green;*/
	width:705px;
	height:31px;
}
.zhuceyou1{
	float:left;
	font-size:14px;
	color:#999999;
	margin-right:9px;
	line-height:30px;
	cursor: pointer;
}
.zhuceyou1:hover{
	color:red;
}
.zhuceyou2{
	color:red;
	float:left;
	font-size:14px;
	margin-right:10px;
	line-height:30px;
}
.zhucexian{
	height:14px;
	width:2px;
	background-color:#999999;
	margin-top:9px;
	float:left;
	margin-right:10px;
}
.zhuceyou3{
	color:#999999;
	float:left;
	font-size:14px;
	margin-right:11px;
	line-height:30px;
	cursor:pointer;
	position:relative;
}
.zhuceyou31{
	color:#999999;
	float:right;
	font-size:14px;
	/*margin-right:11px;*/
	line-height:30px;
	cursor:pointer;
	position:relative;
	width:60px;
	height:90px;
	/*background:red;*/
}
.zhuceyou10{
	color:#999999;
	float:left;
	font-size:14px;
	margin-right:11px;
	line-height:30px;
	cursor:pointer;
	position:relative;
}
.zhuceyou10:hover{
	background:#fff; 
	color:red;
}
.zhuceyou10:hover .zhuceyou3js{
display:block;
}
.zhuceyou3js{
	width:280px;
	height:161px;
	background:#fff;
	position:absolute;
	display:none;
	left:0;
	top:30px;
	z-index:60000;
}

.zhuceyou3js ul li{
	width:140px;
	height:24px;
	
	float:left;
	font-size:12px;
	color:#999;
	margin-top:5px;
}

.zhuceyou3js ul li:hover{
	color:#c40000;
}
.zhuceyou3js ul li:nth-child(7){
	margin-top:20px;

}
.zhuceyou3js ul li:nth-child(8){
	margin-top:20px;
}
.kehufuwu{
	position:absolute;
	width:171px;
	height:249px;
	background:#fff;
	display:none;
	z-index: 1000;
	top:29px;
	right:-13px;
}
.shanghu{
	width:160px;
	height:20px;
 /*   background:red;*/
    margin-top:5px;
    margin-left:10px;
    font-size:12px;
    color:#000;
    font-weight:700;
}
.shanghu:nth-child(6){
	margin-top:15px;
}
.shanghu ul li{
	width:80px;
	height:20px;
	/*background:green;*/
	float:left;
	color:#999;
}
.shanghu:hover{
	color:#c40000;
}
.shanghu ul li:hover{
	color:#c40000;
}
.aa:hover .kehufuwu{
	display:block;
}
/*.zhuceyou3:nth-child(8):hover{
	background:#fff;
}
.zhuceyou3:nth-child(9):hover{
	background:#fff;
}*/
.aa:hover{
	background:#fff;
}
.bb:hover{
	background:#fff;
}
.wangzhandaohang{
	width:1190px;
	height:181px;
	background: #fff;
	position: absolute;
	top:29px;
	left:-1080px;
	
	z-index:1000000;
    display:none;
}
.bb:hover .wangzhandaohang{
	display:block;
}

.wangzhandaohang1{
	width:1190px;
	height:24px;

	margin-top:6px;
}
.wangzhandaohang1 ul li{
	float:left;
	width:85px;
	height:24px;
	font-size:12px;
	color:#999;
}
.wangzhandaohang1 ul li:hover{
	color:#c40000;
}
.wangzhandaohang2{
	width:1190px;
	height:24px;
	
	margin-top:6px;
	color:#000;
	font-size: 14px;
	font-weight: 700;
}
.wangzhandaohang2 ul li{
	float:left;
	width:290px;
	height:24px;
}
.shoujijingdong{
	width:192px;
	height:322px;
	background:#fff;
	position:absolute;
	top:29px;
	left:-110px;
	display:none;
	z-index:10000;
}
.shoujijingdong1{
	width:192px;
	height:100px;
	/*background:yellow;*/
	margin-top:7px;
}
.shoujijingdong2{
    float:left;
	width:91px;
	height:107px;
	
}	
.shoujijingdong2 img{
	width:70px;
	height:70px;
	margin-top:10px;
	margin-left:7px;
}
.shoujijingdong3{
	float:left;
	width:91px;
	height:107px;
	
}	
.shoujijingdong4{
	width:91px;
	height:17px;
/*	background:pink;*/
	margin-top:10px;
	font-size:16px;
	color:#000;
	/*font-weight:500;*/
}
.shoujijingdong5{
	width:91px;
	height:25px;
	/*background:pink;*/
	margin-top:10px;
	font-size:12px;
	color:red;
	line-height:15px;
}
.zhuceyou31:hover .shoujijingdong{
	display:block;
}

.erweimatu{
background:url(../img/mobile_qrcode.jpg) 50% no-repeat;
	width:60px;
	height:60px;
	/*background:yellow;*/
}
.zhuceyou31 p{
	width:60px;
	height:30px;
}





























.zhuceyou3:hover{
	color:red;
}
.search{
	height:140px;
	background-color:#f6f6f6;
}
.sousuo{
width:1190px;
height:140px;
/*background-color:red;*/
}
.logo{
	background-color:#ffffff;
    width: 190px;
    height: 170px;
    float:left;
    
}
.sousuoyou{
width:1000px;
height:88px;
/*background:green;*/
float:right;
}
.search1{
width:500px;
height:34px;
border:2px solid red;
margin-left:132px;
margin-top:22px;
float:left;
color:#ccc;
}
.sousuokuang{
	width:50px;
	height:38px;
	background:red;
	float:left;
	margin-top:22px;
	cursor:pointer;
}
.sousuokuang img{
	margin-left:10px;
	margin-top:10px;
}
.gouwuche{
	float:left;
	margin-left:30px;
	margin-top:22px;
}
.erweima{
	float:right;
	margin-top:5px;
}
.quanmin315{
	width:500px;
	height:28px;
	/*background:yellow;*/
	margin-top:60px;
	margin-left:132px;
}
.quanminzi1{
	float:left;
color:red;
font-size:12px;
cursor:pointer;
}
.quanminzi2{
	float:left;
    color:#999999;
     margin-left:12px;
font-size:12px;
cursor:pointer;
}
.quanminzi2:hover{
	color:red;
}
.soushuyou1{
	width:1000px;
height:52px;
/*background:yellow;*/
float:right;
}
.souyouzi1{
	font-size:18px;
	font-weight:bold;
	color:black;
	float:left;
	line-height:52px;
	margin-left:30px;
	cursor:pointer;
}
.souyouzi1:hover{
	color:red;
}
.fangxingou{
	float:right;
}
.banner{
height:480px;
background-image:url(../img/8.png);
background-repeat:no-repeat;
background-position:center;
}
.bannernav{
	width:1190px;
	height:480px;
	/*background:red;*/
}
.bannerzuo{
	width:190px;
	height:480px;
	background:#6e6568;
	float:left;
}
.bannerzuo1{
	width:180px;
	height:30px;
	margin-top:15px;
	/*background:yellow;*/
	font-size:16px;
	color:white;
    cursor:pointer;
    line-height:30px;
    padding-left:10px;
    position:relative;
}
.bannerzuo1js{
	width:1000px;
	height:480px;
	background:#f5f5f5;
    position:absolute;
    z-index:500;
    left:190px;
    top:-15px;
    /*box-shadow:1px 1px 10px #000;*/
    display:none;
}
.bannerzuo1:hover .bannerzuo1js{
	display:block;
}
.bannerzuo2:hover .bannerzuo1js1{
	display:block;
}
.bannerzuo2:hover .bannerzuo1js1 a{
	display:block;
}
.bannerzuo2:hover .bannerzuo1js1 b{
	display:block;
}
.bannerzuo2:hover .bannerzuo1js1 c{
	display:block;
}
.bannerzuo2:hover .bannerzuo1js1 d{
	display:block;
}
.bannerzuo2:hover .bannerzuo1js1 e{
	display:block;
}
.bannerzuo2:hover .bannerzuo1js1 f{
	display:block;
}
.bannerzuo2:hover .bannerzuo1js1 g{
	display:block;
}
.bannerzuo2:hover .bannerzuo1js1 h{
	display:block;
}
.bannerzuo2:hover .bannerzuo1js i{
	display:block;
}
.bannerzuo2:hover .bannerzuo1js j{
	display:block;
}
.bannerzuo2:hover .bannerzuo1js k{
	display:block;
}
.bannerzuo2:hover .bannerzuo1js l{
	display:block;
}
.bannerzuo3:hover .bannerzuo1js m{
	display:block;
}
.bannerzuo1js1{
	width:1000px;
	height:480px;
	background:#f5f5f5;
    position:absolute;
    z-index:500;
    left:190px;
    top:-45px;
    /*box-shadow:1px 1px 10px #000;*/
    display:none;
}
.a{
	top:-75px;
}
.b{
	top:-105px;
}
.c{
	top:-135px;
}
.d{
	top:-165px;
}
.e{
	top:-195px;
}
.f{
	top:-225px;
}
.g{
	top:-255px;
}
.h{
	top:-285px;
}
.i{
	top:-315px;
}
.j{
	top:-345px;
}
.k{
	top:-375px;
}
.l{
	top:-405px;
}
.m{
	top:-435px;
}
.jszuo{
width:800px;
height:480px;
/*background:red;*/
float:left;
}
.jsyou{
width:200px;
height:480px;
/*background:pink;*/
float:left;
}
.jsyou1{
	width:168px;
height:144px;
margin-top:22px;
}
.jsyou1 img{
	float:left;
}
.jsyou1 img:nth-child(9){
	width:166px;
	height:134px;
}
.jsyou1 img:nth-child(10){
	width:166px;
	height:134px;
}
.jszuo1{
	width:800px;
	height:24px;
	/*background:yellow;*/
	margin-top:22px;
}
.jszuo2{
width:800px;
height:36px;
/*background:yellow;*/
margin-top:8px;

}
.jszuo2 :hover{
	color:red;
}
.jszuo11{
width:73px;
height:24px;
background:#6c6568;
float:left;
margin-left:22px;
line-height:24px;
color:#fff;
text-align:center;
}
.jszuo11:hover{
	background:#5c5251;
}
.jszuo13:hover{
	background:#5c5251;
}
.jszuo12{
margin-left:10px;
}

.jszuo2 ul li{
	float:left;
	margin-left:20px;
	color:#666666;
	line-height:36px;
}
.jszuo2 ul li:nth-child(1){
	color:black;
}

.jszuo13{
width:97px;
height:24px;
background:#6c6568;
float:left;
margin-left:10px;
line-height:24px;
color:#fff;
text-align:center;
}
.bannerzuo1:hover{
	color:red;
	background:#999395;
}
.bannerzuo2:hover{
	color:red;
	background:#999395;
}
.bannerzuo3:hover{
	color:red;
	background:#999395;
}
.bannerzuo2{
	width:180px;
	height:30px;
	/*margin-top:15px;*/
	/*background:yellow;*/
	font-size:16px;
	color:white;
	cursor:pointer;
	line-height:30px;
	padding-left:10px;
	position:relative;
}
.bannerzuo3{
	width:180px;
	height:30px;
	margin-bottom:15px;
	/*background:yellow;*/
	font-size:16px;
	color:white;
	cursor:pointer;
	line-height:30px;
	padding-left:10px;
	position:relative;
}
.bannerzhong{
	width:790px;
	height:480px;
	cursor:pointer;
	margin-left:10px;
	float:left;
	overflow:hidden;

}
.box{
	width:790px;
	height:340px;
	background:red;
	position:relative;
}
.img{
	width:100%;
	height:100%;
	position:relative;
}

	.tu{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.box ul{
position:absolute;
width:182px;
height:20px;
bottom:20px;
left:0;
border-radius: 12px;
    background-color: hsla(0,0%,100%,.3);
right:0;
margin:0 auto;
z-index: 50;
}
.box ul li{
	float:left;
	margin-left: 9px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #fff;
    margin-top:4px;
}

.bannerzhongxia{
	width:790px;
	height:130px;
margin-top:10px;
cursor:pointer;
}
.bannerzhongxia1{
	width:390px;
	height:130px;
	float:left;
	margin-right:10px;
	cursor:pointer;
}
.bannerzhongxia2{
	width:390px;
	height:130px;
	float:right;
	cursor:pointer;
}
.banneryou{
	width:190px;
	height:480px;
	
	float:right;
}
.cuxiaolan{
	width:190px;
	height:154px;
position:relative;
	margin-top:15px;
}
.cuxiaoxian{
	position:absolute;
	width:30px;
	height:2px;
	top:28px;
	left:4px;
	background:#db192b;
}
.cuxiaolan1{
	width:36px;
	height:27px;
	float:left;
	font-size:16px;
	line-height:27px;
	color:#333;
	position:relative;
	cursor:pointer;
}
.cuxiaolan2{
	width:37px;
	height:27px;
	float:left;
	font-size:16px;
	line-height:27px;
	color:#333;
	margin-left:15px;
	position:relative;
	cursor:pointer;
}
.cuxiaolan3{
	width:32px;
	height:27px;
	float:right;
	font-size:16px;
	line-height:27px;
	color:#333;
	position:relative;
cursor:pointer;

}
.cuxiaolan3:hover{
	color:#c40000;
}
.cuxiao11{
	width:160px;
	height:120px;
cursor:pointer;
	position:absolute;
	top:30px;
	left:10px;

}
.cuxiao12{
	width:160px;
	height:120px;
cursor:pointer;
	position:absolute;
	top:30px;
	left:-37px;
	display:none;
}
.cuxiao11 p:hover{
	color:red;
}
.cuxiao12 p:hover{
	color:red;
}
.cuxiao12 p{
	font-size:12px;
	color:#666;
}
.cuxiao11 p{
	font-size:13px;
	color:#666;
}
.banneryoushang{
	width:190px;
	height:74px;

	border-top:1px solid green;

}
.youshang1{
	width:60px;
	height:60px;
	/*background:pink;*/
	float:left;

}
.youshang1 img{
	width:45px;
	height:45px;
	display:block;
	margin-top:16px;
}
.youshang2{
	width:110px;
	height:38px;

	margin-top:18px;
	float:right;
}
.youshang2 p{
	font-size:14px;
	color:#6695cf;
}
.youshang2 a{
	font-size:14px;
	color:#000000;
}
.xinren{
	width:170px;
	height:24px;

	margin:0 auto;
}
.fuli{
	display: inline-block;
    margin-right: 10px;
    width: 70px;
    height: 20px;
    border: 2px solid #e01222;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color: #e01222;
    float:left;
    cursor:pointer;
}
.fuli:hover{
	color:#fff;
	background:#e01222; 
}
.huiyuan:hover{
	color:#fff;
	background:#e01222; 
}
.huiyuan{
display: inline-block;
    width: 70px;
    height: 20px;
    border: 2px solid #e01222;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color: #e01222;
    float:right;
     cursor:pointer;	
}
.sousuokuang .iconfont{
	color:white;
	font-size:20px;
	line-height:40px;
    margin-left:10px;
}
.miaosha{
	    position: relative;
    margin-top:20px;
    height: 55px;
    line-height: 55px;
    color: #fff;
    background-image:url(../img/4.png);
    overflow:hidden;
}
.miaoshajiao{
	background-image:url(../img/3.png);
	background-position: -190px -48px;
    /*-moz-background-size: 218px 188px;*/
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    position: absolute;
    left: -4px;
    top: -4px;
    float:left;
}
.miaoshatu{
	background-image:url(../img/3.png);
    background-position: 0 -40px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 34px;
    height: 40px;
    margin-top: 12px;
    margin-left: 31px;
    float:left;
}
.miaosha h3{
	 /* font-family: fzzhengheis-el-gbregular;*/
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    padding-top: 9px;
    margin-left:18px;
    float: left;
    display: block;

}
.miaosha h2{
	font-size: 16px;
	line-height: 60px;
	margin-left:18px;
    float: left;
    cursor:pointer;
}
.miaosha h1{
	float: right;
    line-height: 45px;
    padding-top: 10px;
    font-size: 14px;
    margin-right:233px;
}
.shijian{
	float:right;
    width:35px;
    height:37px;
    background-color: #440106;
    color: #f90013;
    font-size: 24px;
    border-radius: 3px;
    text-align: center;
    line-height: 37px;
    margin-top: 10px;
    margin-right:-100px;
}
.shijian1{
	margin-right:-150px;
}
.shijian2{
	margin-right:-200px;
}
.yuandian{
	margin-bottom: 4px;

    display: block;
    width: 4px;
    height: 4px;
   float:right;
    border-radius: 100%;
    background-color:#440106;
    margin-right:-110px;
    margin-top:20px;

}
.yuandian1{
	margin-top:30px;
}
.yuandian2{
	margin-right:-160px;
}
.yuandian3{
	margin-top:30px;
	margin-right:-160px;
}
.miaosha h4{
	float: right;
    line-height: 45px;
    padding-top: 10px;
    font-size: 14px;
   margin-right:-280px;
}
.haohuo{
	height:250px;
	background:#f6f6f6;
}
.dapaihaohuo{
	height:250px;
	background:#E7E7E7;
	/*background:red;*/
	width:1190px;
}
.box1{
	width:990px;
	height:250px;
	position: relative;
    overflow: hidden;
    float:left;
}
.box2{
		width: 1000%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.left{
		width: 20px;
		height: 50px;
		background:rgba(0,0,0,.1);
		position: absolute;
		top:100px;
		cursor:pointer;
		/*margin: auto;*/
		left:0;
		color:#000;
		line-height:50px;
		text-align: center;
		display:none;
	}
	.right{
		width: 20px;
		height: 50px;
		background:rgba(0,0,0,.1);
		position: absolute;
		top:100px;
		color:#000;
		line-height:50px;
		text-align: center;
		/*margin: auto;*/
		right:0;
		cursor:pointer;
		display:none;
	}
	.box1:hover .left{
		display:block;
	}
	.box1:hover .right{
		display:block;
	}
.dapaihaohuo1{
	width:196px;
	height:250px;
	background:#ffffff;
	float:left;
	margin-right:2px;
}
.dapaihaohuo2{
	width:190px;
	height:250px;
	/*background:#ffffff;*/
/*	background:red;*/
	float:right;
	/*top:0;
	left:990px;*/
    z-index: 10000000000;
	/*position:absolute;*/
}
.dapaihaohuotu{
    width:130px;
	height:130px;
	transition: all 1s linear;
	/*background:red;*/
	margin-top:35px;
	margin-left:42px;
}
.dapaihaohuotu img:hover{
	transition: all .5s linear;
	transform: translateY(-5px);
		}
.dapaihaohuotu img{
	transition: all .5s linear;
}
.dapaihaohuozi{
	width:170px;
	height:32px;
	/*background:red;*/
	margin:0 auto;
	margin-top:5px;
	overflow: hidden;
    font-size: 12px;
    cursor:pointer;
    color: #999;
}
.dapaihaohuozi:hover{
	color:red;
}
.dapaihaohuojia{
	width:170px;
	height:32px;
	margin:0 auto;
	margin-top:5px;

}
.dapaihaohuojia1{
width:71px;
height:24px;

float:left;

}
.dapaihaohuojia1 i{
	font-size: 12px;
    color:red;
    float:left;
    margin-top:4px;

}
.dapaihaohuojia1 span{
	color:red;
font-size: 18px;
font-weight:bold;
float:right;
}
.dapaihaohuojia2{
width:71px;
height:24px;

float:left;
margin-left:8px;
text-decoration: line-through;
font-size: 12px;
line-height:24px;
}
.kongbai{
	height:5px;
	background:#ffffff;

}
.faxianhao{
	height:444px;
	background:#f6f6f6;
}
.faxianhaohuo{
height:444px;
width:1190px;

}
.faxianhaohuo1{
	float:left;
	margin-right:10px;
	
	height:444px;
width:390px;
}
.faxianhaohuo2{
	float:right;
	

	margin-top:-6px;
	height:444px;
width:390px;
}
.faxianhaohuoshang{
	width:390px;
	height:55px;
	background: #4998a1;
	position:relative;
}
.faxianhaohuoshangzi{
	font-size: 26px;
    line-height: 40px;
    height: 40px;
    padding-top: 9px;
        float: left;
        color:#ffffff;
        margin-left:31px;
}
.faxianhaohuoshangzi1{
	font-size: 14px;
    line-height: 60px;
color:#ffffff;
float: right;
margin-right:40px;

}
.faxianhaohuoxia{
	background:#ffffff;
	width:390px;
	height:389px;
	overflow:hidden;
}
.faxianhaohuoxia1{
	background:#ffffff;
	width:390px;
	height:389px;
}
.faxianxia1{
width:185px;
height:120px;

float:left;
margin-left:10px;
overflow:hidden;
}
.faxianxia2{
width:185px;
height:120px;

float:right;
margin-right:10px;
}
.faxianxia1zi{
	width:80px;
	height:40px;
	margin-left:15px;
	margin-top:15px;
	color:#4998a1;
	font-size:16px;
	cursor:pointer;
}
.faxianxia1tu{
	width:80px;
	height:40px;
	float:right;
	margin-right:3px;
	margin-top:-10px;

}
.faxianxia1tu img:hover{

	transition: all .3s linear;
	transform: translateX(-5px);
}
.faxianxia1tu img{
	transition: all .3s linear;
}
.shang{
	background:#762252;
}
.faxianhaohuoxia4{
width:185px;
height:227px;

float:left;
margin-left:10px;
}
.faxianhaohuoxia4zi{
	width:139px;
	height:18px;
	font-size:16px;
	color:#8b5883;
	margin-left:32px;
	margin-top:28px;
	cursor:pointer;
}
.faxianhaohuoxia4zi1{
	width:139px;
	height:36px;
	font-size:12px;
	color:#666666;
	margin-left:32px;
	margin-top:8px;
	cursor:pointer;
}
.faxianhaohuoxia4tu{
width:140px;
	height:120px;
	margin:0 auto;
	transition: all .3s linear;

}
.faxianhaohuoxia4tu:hover{
	transform: translateX(-5px);
	transition: all .3s linear;
}
.faxianhaohuoxia5{
width:185px;
height:227px;

float:right;
margin-right:10px;
}
.faxianhaohuoxia6{
width:370px;
height:130px;

float:left;
margin-left:10px;
margin-top:15px;
cursor:pointer;
}
.shang1{
	/*background:orange;*/
}
.faxianhaohuoxia3zi{
	width:370px;
	height:32px;
}
.faxian3zi1{
	width:40px;
	height:18px;
	font-size:14px;
	float:left;
	margin-left:10px;
	color:#666666;
	text-align:center;
	cursor:pointer;
}
.faxian3zi1:hover{
	color:red;
}
.faxian3zi2{
width:70px;
text-align:center;
cursor:pointer;
}
.faxianhaohuoxia3tu{
	width:390px;
	height:355px;

}
.faxianhaohuoxia3tu1{
	width:123px;
	height:167px;
	float:left;
	margin-left:10px;
	
}
.faxianhaohuoxia3tu2{
	width:123px;
	height:167px;
	float:left;
	

}
.faxianhaohuoxia3tu3{
	width:123px;
	height:167px;
	float:right;
	margin-right:10px;

}
.faxianhaohuoxia3tu5{
	width:100px;
	height:100px;
	margin:0 auto;
}
.faxianhaohuoxia3tu6{
	
    font-size:12px;
    height:32px; 
    width:122px;
    overflow: hidden;
    color:#666666;
    margin-left:7px;
    cursor:pointer;
}
.faxianhaohuoxia3tu6:hover{
	color:red;
}
.zhongjaintu{
	height:100px;
	background:#e0e0e0;
}
.zhongjaintu1{
	float:left;
	cursor:pointer;
}
.aishenghuo{
	height:598px;
	background:#f6f6f6;
}
.aishenghu{
	overflow: hidden;
    margin-top:20px;
    height: 35px;
    background: url(../img/5.png) repeat-x 0 18px;
    text-align: center;
    font-size: 24px;
    line-height: 35px
}


.tuijian{
	width:1190px;
	height:523px;
	background:#f6f6f6;
	margin-top:20px;
}
.aiguang{
	width:590px;
	height:523px;
	
	float:left;
	margin-right:10px;
}
.aimeili{
	width:590px;
	height:523px;
	
	float:right;
	
}
.aiguangshang{
	width:590px;
	height:58px;
	background:#974676;

}
.aiguangshang1{
	width:590px;
	height:58px;
	background-color: #cd375e;

}
.aigungshangzi1{
	float: left;
    font-size: 22px;
    color: #fff;
    height: 26px;
    line-height: 58px;
    margin-left:26px;
}
.aigungshangerweima{
	float: left;
	margin-left:15px;
	margin-top:20px;
}
.aiguangshangzi2{
	width:415px;
	height:28px;
	float:right;
	margin-right:15px;
	
	margin-top:16px;
}
.aiguangshangzi3{
	border-color: #c187af;
	background-color: #ac6f93;
	color: #fff;
	width:60px;
	height:26px;
	float:left;
	margin-left:6px;
	font-size:12px;
	line-height:26px;
	text-align:center;
	cursor:pointer;
}
.aaa{
	border-color: #de7b95;
	background-color: #d36581;
}
.bbbb{
	border-color: #9e84b1;
	background-color: #9379a5;
}
.bbb{
	border-color: #94a1c0;
	background-color: #7f8ca8;
}
.ccc{
	border-color: #9e8a84;
	background-color: #897b75;
}
.ddd{
	border-color: #b48787;
	background-color: #987171;
}
.aiguangshangzi3:hover{
	outline:1px solid #fff;
}
.aiguangxia{
	width:590px;
	height:450px;
	border-top:1px solid #ffffff;

}
.aiguangxia1{
	width:590px;
	height:260px;
	
	
}
/*.xiangpinzhi{*/
	/*overflow: hidden;*/
	/*padding: 0 0 20px;*/
	/*height: 35px;*/
	/*background: url(../img/下载.png) repeat-x 0 18px;*/
	/*text-align: center;*/
	/*font-size: 24px;*/
	/*line-height: 35px;*/
/*}*/
.aiguangxia1zuo{
	float:left;
	width:193px;
	height:260px;
	margin-left:9px;
	transition: all .3s linear;
}
.aiguangxia1zuo:hover{
	transform:translateX(-5px)
}
.aiguangxia1you{
	float:right;
	width:380px;
	height:260px;
	
}
.aiguangxia1you1{
	float:left;
	width:188px;
	height:130px;
	
}
.aiguangxia1you1zi{
	color: #974676;
	font-size: 14px;
	margin-top:40px;
	margin-left:15px;
	float:left;
	cursor:pointer;
}
.aiguangxia1you1zi1{
	width:50px;
	height:36px;
	color: #666666;
	font-size: 12px;
	margin-left:15px;
	float:none;
	cursor:pointer;
}
.aiguangxia1you1tu{
float:right;
margin-top:-10px;

}
.aiguangxia1you1tu img:hover{
	transform: translateX(-5px);
	transition: all .3s linear;
}
.aiguangxia1you1tu img{
	transition: all .3s linear;
}
.aigaungxia2{
	width:590px;
	height:130px;
	margin-top:10px;
}
.aigaungxia2tu{
	width:190px;
	height:130px;
	float:left;
	margin-left:8px;
	cursor:pointer;
	transition: all .5s linear;
	overflow:hidden;
}
.aigaungxia2tu img{
	width:200px;
	height:140px;
}

.aigaungxia2tu img:hover{
	transform:translateX(-5px);
	transition: all .5s linear;
}
.aigaungxia3tu{
	width:190px;
	height:130px;
	float:right;
	transition:all .5s linear;
	overflow:hidden;
}
.aigaungxia3tu img:hover{
	transform:translateX(-5px);
	transition: all .5s linear;
}
.aigaungxia3tu img{
	width:200px;
	height:140px;
	transition: all .5s linear;
}
.aigaungxia3 img{
	width:70px;
	height:35px;
	margin-left:23px;
	float:left;
	cursor:pointer;
	transition:all .5s linear;
}
.aigaungxia3{
	width:590px;
	height:35px;
	/*background:red;*/
margin-top:10px;
	position: relative;
	overflow: hidden;

}
.aigaungxia3:hover .left1{
	display:block
}
.aigaungxia3:hover .right1{
	display:block
}

.aigaungxia3 ul{
	position:absolute;
	width:1000%;
	top:0;
	left:0;

}
.aigaungxia3 ul li{
width:70px;
	height:35px;
	float:left;

	margin-left:24px;
}
.left1{
	 position:absolute;
	 bottom:10px;
	 left:20px;
	color:#736b6f;
	 z-index: 10000;
	 display:none;
	cursor:pointer;
 }
.left1:hover{
	color:red;
}
.right1:hover{
	color:red;
}
.right1{
	position:absolute;
	bottom:10px;
	right:0px;
	color:#736b6f;
	z-index: 10000;
	display:none;
	cursor:pointer;
}
.aiguangshang2{
	width:590px;
	height:58px;
	background-color: #674083;
    
}

.aiguangshang3{
	width:590px;
	height:58px;
	background-color: #4c5c8c;

}
.aiguangshang4{
	width:590px;
	height:58px;
	background-color: #684c44;

}
.aiguangshang5{
	width:590px;
	height:58px;
	background-color: #7e3b3c;

}
.guang{
	background:#f6f6f6;
	height:700px;
}
.guanggou{
	overflow: hidden;
    padding: 0 0 20px;
    height: 35px;
    background: url(../img/7.png) repeat-x 0 18px;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}
.guanggou h1{
	display: inline;
    padding: 0 50px;
    background-color: #f6f6f6;
   
    font-size: 26px;
    color: #333;
}
.wupin{
	width:1190px;
	height:650px;
	background:#f6f6f6;
}
.wupin1{
	background:#ffffff;
	width:230px;
	height:315px;
	float:left;
	margin-right:6px;
	margin-bottom:6px;
}
.wupin1:hover{
outline:1px solid #bd2727;
}
.wupin2:hover{
	outline:1px solid #bd2727;
}
.wupin2{
	background:#ffffff;
	width:230px;
	height:315px;
	float:right;
	margin-bottom:6px;
	
}
.wupintu{
	width:220px;
	height:220px;
	
	margin:0 auto;
	margin-top:6px;
	cursor:pointer;
}
.wupinzi{
	width:200px;
	height:36px;
	
	margin:0 auto;
	margin-top:16px;
	font-size:12px;
	color:#666666;
	cursor:pointer;
}
.wupinzi:hover{
	color:red;
}
.wupinjia{
	width:200px;
	height:16px;
	font-size:12px;
	color:red;
	margin:0 auto;
	cursor:pointer;
	margin-top:8px;
}
.duokuaihaoshneg{
	background:#eaeaea;
	height:103px;
}
.duokuai{
	width:1190px;
	height:103px;
    border-bottom:2px solid #dedede;
}
.duokuai1{
width:297.5px;
	height:103px;
float:left;


}
.duokuaitu{
	width:36px;
	height:42px;
	float:left;
	margin-left:72px;
	margin-top:30px;
}
.duokuaizi{
	width:150px;
	height:42px;
	float:left;
	margin-left:10px;
	margin-top:30px;
	font-size: 16px;
	color:black;
	
	line-height:42px;
	cursor:pointer;
}
.footer{
	height:200px;
	background:#eaeaea;
}
.foot{
height:200px;
	
width:1190px;


}
.foot1{
	float:left;
	
	width:198px;
	height:200px;

}
.foot2{
	float:left;
	
	width:198px;
	height:200px;

}
.foot3{
	float:left;
	
	width:200px;
	height:200px;
	
}
.foot1zi1{
	font-size:14px;
	cursor:pointer;
	color:black;
	margin-top:20px;
}
.foot1zi2{
	font-size:12px;
	margin-top:8px;
	color:#666666;
}
.foot3zi{
	font-size:14px;
	cursor:pointer;
	color:black;
	margin-top:20px;
}
.foot3zi1{
	font-size:12px;
	color:#666666;
	margin-top:6px;
}
.foot3zi2{
	font-size:12px;
	color:#666666;
	margin-top:6px;
	float:right;
	cursor:pointer;
}
.foot3zi2:hover{
	color:red;
}
.guanyutianmao{
height:200px;
background:#eaeaea;
border-top:2px solid #e1e1e1;
cursor: pointer;
}
.guanyu{
width:1190px;
height:16px;
/*background:yellow;*/
margin-top:11px;
font-size:14px;
color:#666666;
cursor: pointer;
text-align:center;
}
.guanyu1{
width:1130px;
height:16px;
/*background:yellow;*/
margin-top:22px;
font-size:12px;
color:#ffffff;
cursor: pointer;
}
.guanyu2{
width:1130px;
height:16px;
/*background:red;*/
margin-top:14px;
cursor: pointer;
}

.guanyu3{
width:280px;
height:16px;
/*background:yellow;*/
float:left;
margin-left:150px;
color:#a4a4a4;
font-size:12px;
cursor: pointer;
}
.guanyu9{
width:280px;
height:16px;
/*background:yellow;*/
float:left;
margin-left:450px;
color:#a4a4a4;
font-size:12px;
cursor: pointer;
}
.guanyu4{
width:620px;
height:20px;
margin-top:15px;
/*background:yellow;*/
cursor: pointer;
}
.guanyu5{
width:350px;
height:20px;
float:left;
/*background:red;*/
color:#a4a4a4;
font-size:12px;
margin-left:410px;
}
.guanyu6{
width:214px;
height:20px;
float:right;
/*background:green;*/
color:#a4a4a4;
font-size:12px;
cursor: pointer;
margin-left:480px;
}
.guanyu6 img{
width:20px;
height:20px;
}
.guanyu7{
width:220px;
height:16px;

/*background:green;*/
color:#a8a8a8;
font-size:12px;
margin-top:8px;
margin-left:450px;
}
.guanyudibutu{
	width:670px;
	height:50px;
    
    margin-top:20px;
    margin:0 auto;

}
.dibutu1 img{

	float:left;
	margin-right:15px;
	 margin-top:20px;
}
.gonggao{
	width:160px;
	height:27px;
	margin: 0 auto;
	margin-top:10px;
}
.gonggaozi{
	float:left;
	font-size:14px;
	margin-right:35px;
}
.gonggaozi1{
	float:right;
	font-size:14px;
	
}
.jianjie{
	width:160px;
	height:120px;
	margin: 0 auto;
	margin-top:20px;
}
.jianjie1{
	margin-top:10px;
	font-size:12px;
	color:#666666;

}
.banneryoubiantu{

}
.leftBtn{
			width: 30px;
			height: 60px;
			text-align:center;
			line-height:60px;
			position: absolute;
			left: 5px;
			top:0;
			bottom: 0;
			margin: auto;
			z-index: 100;
			cursor: pointer;
			background-color:rgba(0,0,0,.1);
			font-size:16px;
			color:#fff;
		}
.rightBtn{
	        color:#fff;
			width: 30px;
			height: 60px;
			font-size:16px;
			line-height: 60px;
			text-align:center;
			position: absolute;
			right: 5px;
			top:0;
			bottom: 0;
			margin: auto;
			z-index: 100;
			cursor: pointer;
			background-color:rgba(0,0,0,.1)
		}	
.rightBtn:hover{
	background-color:rgba(0,0,0,.6)
}
.leftBtn:hover{
	background-color:rgba(0,0,0,.6)
}			
.anniu{
	position:fixed;
	width:34px;
	height:288px;
	margin: auto;
	background:#666;
	left:50%;
	margin-left:-650px;
	top: 0;
    bottom: 0;
 /*  display:none;*/
}
.anniu li{
	width:34px;
	height:48px;
	border-top:1px solid #fff;
	box-sizing: border-box;
	line-height: 24px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}
.anniu li:nth-child(6){
	background: #5E4A4A;
	border-bottom:0;
}
.gouwuche1{
	width:308px;
	height:69px;
	position:absolute;
	background-color:#fff;
	top:36px;
	left:-115px;
	line-height: 69px;
	text-align:center;
	color:#999;
	font-size: 14px;
	display:none;
}
.gouwuche{
	position:relative;

}
.gouwuche:hover .gouwuche1{
	display:block;
}
.youshang2 a:hover{
	color:#c40000;
}
.miaosha span:nth-child(2){
	width: 35px;
    height: 37px;
    background-color: #440106;
    color: #f90013;
    font-size: 24px;
    font-family: Arial;
    font-weight: 700;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 37px;
    margin-top: 10px;
}
.miaosha span:nth-child(3){
	color:#440106;
}
.miaosha span:nth-child(5){
	color:#440106;
}

.miaosha span:nth-child(1){
	color:#fff;
}
.miaosha span:nth-child(7){
	color:#fff;
}
.miaosha span:nth-child(4){
	width: 35px;
    height: 37px;
    background-color: #440106;
    color: #f90013;
    font-size: 24px;
    font-family: Arial;
    font-weight: 700;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 37px;
    margin-top: 10px;
}
.miaosha span:nth-child(6){
	width: 35px;
    height: 37px;
    background-color: #440106;
    color: #f90013;
    font-size: 24px;
    font-family: Arial;
    font-weight: 700;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 37px;
    margin-top: 10px;
}

.miaosha span{
	display:block;
	float:left;
}
.daojishi{
	width:300px;
	height:55px;
	/*background:yellow;*/
	float:right;
}
/*.pinzhi{*/
	/*width:1190px;*/
	/*overflow: hidden;*/
	/*!*padding: 0 0 20px;*!*/
	/*height: 35px;*/
	/*background: url(../img/下载 (3).png) repeat-x 0 18px;*/
	/*text-align: center;*/
	/*font-size: 24px;*/
	/*line-height: 35px;*/
	/*margin-left:-1000px;*/
/*}*/
.xiangpinzhi{
	height:50px;
	/*background:red;*/
	width:100%;
	margin-top: 10px;
}
.pinzhi{
	overflow: hidden;


	background: url(../img/下载 (2).png) repeat-x 0 18px;

	height:50px;
	width:1190px;
	color:#333;
	font-weight:400;
	font-size:26px;
	/*background:yellow;*/
	text-align:center;
	line-height:50px;

}
.jdzb{
	height:530px;
	/*background: red;*/
}
.jdzbz{
	width:820px;
	height:530px;

	float:left;
}
.jdzby{
	width:350px;
	height:530px;

	float:left;
	margin-left:15px;
}
.jdzby1{
	width:350px;
	height:350px;
	/*background: red;*/
}
.box11{
	width:350px;
	height:350px;

	position:relative;
}
.img11{
	width:100%;
	height:100%;
	position:relative;
}
.tu11{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index: 1;
	opacity:1;
	transition:all 1s linear;
}
.tu11 img{
	width:350px;
	height:350px;
}
.box11 ul{
	position:absolute;
	width:100px;
	height:10px;
	bottom:20px;
	left:0;

	right:0;
	margin:0 auto;
	z-index: 100;
}
.box11 ul li{
	float:left;
	width:10px;
	height:10px;
	border-radius:100%;
	background:#fff;
	margin-right:7px;
	cursor:pointer;
}
.jdzby2{
	width:350px;
	height:170px;
	/*background:orange;*/
	margin-top:10px;
}
.jdzby3{
	width:170px;
	height:170px;
	/*background:red;*/
	float:left;

}
.jdzby4{
	width:170px;
	height:170px;
	/*background:red;*/
	float:left;
margin-left:10px;
}
.jdzby5{
	width:170px;
	border:1px solid #6C316B;
	height:100px;
	/*background: green;*/
	/*margin-top:70px;*/
position:absolute;
left:0;
	top:70px;
	background: rgba(107,49,107,.7);

}
.jdzby10{
	width:170px;
position:relative;
	height:170px;
	/*background:green;*/
overflow:hidden
}
.jdzby10 img{
	width:190px;
	height:190px;
	transition:all .5s linear;
}
.jdzby10 img:hover{
	transform:translateX(-10px);
}
.jdzby6{
	width:100px;
	height:5px;
	background:#fff;
	margin:0 auto;
	margin-top:15px;
}
.jdzby7{
	color:#fff;
	font-size:16px;
	text-align:center;


}
.jdzby9{
	color:#fff;
	font-size:14px;
	text-align:center;


}
.jdzby8{
	width:100px;
	height:5px;
	background:#fff;
	margin:0 auto;
	margin-top:15px;
}

.left11{
	width:20px;
	height:48px;
	background:rgba(0,0,0,.42);
	position:absolute;
	left:0;
	top:150px;
	z-index:10000000000;
	color:#fff;
	text-align:center;
	line-height:48px;
	cursor:pointer;
}
.left11:hover{
	color:red
}
.right11：hover{
	color:red;
}
.right11{
	width:20px;
	height:48px;
	background:rgba(0,0,0,.42);
	position:absolute;
	right:0;
	top:150px;
	z-index:10000000000;
	color:#fff;
	text-align:center;
	line-height:48px;
	cursor:pointer
}
.jdzbz1{
	width:400px;
	height:530px;
	float:left;

}
.jdzbz2{
	width:400px;
	height:530px;
	float:left;

	margin-left:10px;
}
.jdzbz1 ul li{
	width:400px;
	height:170px;

	margin-top:10px;
}
.jdzbz1 ul li:nth-child(1){
	margin-top:0;
}
.jdzbz2 ul li{
	width:400px;
	height:170px;

	margin-top:10px;
}
.jdzbz2 ul li:nth-child(1){
	margin-top:0;
}
.xinpinshoufa{
	width:140px;
	height:170px;
	float:left;
	background:#59b07d;

}
.xinpinshoufatu{
	width:260px;
	height:170px;
	float:left;

	overflow:hidden;

}
.xinpinshoufa1{
	width:100px;
	height:5px;
	background: #fff;
	margin:0 auto;
	margin-top:50px;
}
.xinpinshoufa2{
	/*width:100px;*/
	/*height:24px;*/
	/*background:red;*/
	font-size:22px;
	line-height:22px;
	color:#fff;
	text-align:center;
	margin-top:10px;
}
.xinpinshoufa3{
	width:100px;
	height:5px;
	background: #fff;
	margin:0 auto;
	margin-top:10px;
}
.xinpinshoufa4{
	width:100px;
	height:32px;
    font-size:14px;
	/*text-align:center;*/
	margin:0 auto;
	margin-top:10px;
	color:#fff
}
.xinpinshoufatu img{
	width:400px;
	height:170px;
margin-left:-110px;
	transition:all .5s linear;
}
.xinpinshoufatu img:hover{
	transform:translateX(-10px);
}
.dingweiy{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9990;
	width: 0;
	height: 100%;
}
.dwhz{
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	border-right: 6px solid #7a6e6e;
	transition: right .3s ease-in-out 0s;
}
.dwys{
	position: absolute;
	top: 50%;
	left: -29px;
	width: 35px;
	margin-top: -61px;
}
.dwyx{
	position: absolute;
	bottom: -1px;
	width: 100%;
	left: -29px;
}
.sann{
	position: relative;
	width: 35px;
	height: 35px;
	margin-bottom: 1px;
	cursor: pointer;
	background-color: #7a6e6e;
	border-radius: 3px 0 0 3px;
}
.zuji{
	position: relative;
	width: 35px;
	height: 35px;
	margin-bottom: 1px;
	cursor: pointer;
	background-color: #7a6e6e;
	border-radius: 3px 0 0 3px;
}
.xiaoxi .iconfont{
	/*position:relative;*/
	/*width: 35px;*/
	/*height: 35px;*/
	/*margin-bottom: 1px;*/
	/*cursor: pointer;*/
	/*background-color: #7a6e6e;*/
	/*border-radius: 3px 0 0 3px;*/
	margin-left:-15px;
}
.tab-ico{
	background-position: -88px -175px;
	width: 34px;
	height: 35px;
	margin-left: 1px;
	position: relative;
	z-index: 2;
	background-color: #7a6e6e;
	display: inline-block;
	background-image: url('../img/c/dw1.png');
	background-repeat: no-repeat;
	font-style: normal;
}
.tab-ico1{
	background-position: -50px 0;
}
.tab-ico2{
	background-position: -50px -50px;
}
.tab-ico3{
	background-position: -50px -100px;
}
.tab-ico4{
	background-position: -190px -150px;
}
.tab-ico5{
	background-position: -50px -250px;
}
.tab-ico6{
	background-position: -50px -250px;
}
.tab-ico7{
	background-position: -50px -300px;
}
.tab-text{
	width: 62px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	font-family: "微软雅黑";
	position: absolute;
	z-index: 1;
	left: 35px;
	top: 0;
	background-color: #7a6e6e;
	border-radius: 3px 0 0 3px;
	transition: left .3s ease-in-out .1s;
	font-style: normal;
}
.sann:hover{
	background: #c81623;
}
.xann:hover{
	background: #c81623;
}
.sann:hover .tab-text{
	left: -60px;
	background-color: #c81623;
}
.sann:hover .tab-ico{
	background-color: #c81623;
}
.xann:hover .tab-ico{
	background-color: #c81623;
}
.xann:hover .tab-text{
	left: -60px;
	background-color: #c81623;
}
.xann{
	position: relative;
	width: 35px;
	height: 35px;
	margin-bottom: 1px;
	cursor: pointer;
	background-color: #7a6e6e;
	border-radius: 3px 0 0 3px;
}

.sann  .iconfont{
	color:#fff;
	font-size:16px;
	/*text-align:center;*/
	line-height:35px;
	margin-left:8px;
}
.zuji  .iconfont{
	color:#fff;
	font-size:16px;
	/*text-align:center;*/
	line-height:35px;
	margin-left:5px;
}
.xann .iconfont{
	color:#fff;
	font-size:16px;
	/*text-align:center;*/
	line-height:35px;
	margin-left:10px;
}
.bbc{
	margin-right:-15px;
}
.jdlogo{
	float:left;
}
.search2{
	width:500px;
	height:20px;
	background:#989898;
float:left;
	margin-left:50px;
}
.sousuokuang3{
	float:right;
	margin-right:-750px;
	background:red;
	width:50px;
	height:35px;
	margin-top:7px;
cursor:pointer;

}
.sousuokuang3 .iconfont{
	font-size:20px;
	color:#fff;
line-height:35px;
	text-align:center;
	margin:0 auto;
	margin-left:10px;
}
.jddaohang{
	height:50px;
	background:#fff;
	overflow:hidden;
}
.paihangbang{
	width:390px;
	height:32px;
	background:#fff;
	/*overflow:hidden;*/
	position:relative;

}
.paihangbang:after{
	content:"";
	display: block;
	width: 0;
	height: 0;
	clear: both;

}
.paihangbang1{
	width:77px;
	height:32px;
	border-right:1px solid #d2d1d1;
	float:left;
	line-height:32px;
	text-align:center;
	color:#666;
	cursor:pointer;
	position:relative;
	font-size:14px;

}
.paihangbang2{
	width:77px;
	height:32px;
	border-right:1px solid #d2d1d1;
	float:left;
	line-height:32px;
	text-align:center;
	color:#666;
	cursor:pointer;
    font-size:14px;
	position:relative;

}
.paihangbang3{
	width:77px;
	height:32px;
	border-right:1px solid #d2d1d1;
	float:left;
	line-height:32px;
	text-align:center;
	color:#666;
	cursor:pointer;
	position:relative;
	font-size:14px;

}
.paihangbang4{
	width:77px;
	height:32px;
	border-right:1px solid #d2d1d1;
	float:left;
	line-height:32px;
	text-align:center;
	color:#666;
	cursor:pointer;
	position:relative;
	margin-top:-5px;
	font-size:14px;
}
.paihangbang5{
	width:78px;
	height:32px;
	line-height:32px;
	text-align:center;
	float:left;
	color:#666;
	cursor:pointer;
	position:relative;
	margin-top:-5px;
	font-size:14px;
}
.paihangbang1:hover{
	color:#c81623;
}
.paihangbang2:hover{
	color:#c81623;
}
.paihangbang3:hover{
	color:#c81623;
}
.paihangbang4:hover{
	color:#c81623;
}
.paihangbang5:hover{
	color:#c81623;
}
.paihangbang11{
	width:390px;
	height:355px;

	position:absolute;
	top:33px;
	left:0;
	z-index: 2;
}
.paihangbang11 ul li{
	float:left;
	width:130px;
	height:167px;
	background:#fff;

}
.paihangbangtu{
	width:100px;
	height:100px;

	margin:0 auto;
	margin-top:15px;
}
.paihangbang11 ul li p{
	width:123px;
	height:32px;
	margin:0 auto;
	font-size:14px;

	color:#666;
	line-height:16px;
	margin:0 auto;
	margin-top:15px;
}
.paihangbang11 ul li p:hover{
	color:#c81623;
}
.paihangbang12{
	width:390px;
	height:355px;

	position:absolute;
	top:33px;
	left:-78px;
	z-index: 1;
}
.paihangbang12 ul li{
	float:left;
	width:130px;
	height:167px;
	background:#fff;

}
.paihangbangtu{
	width:100px;
	height:100px;

	margin:0 auto;
	margin-top:15px;
}
.paihangbang12 ul li p{
	width:123px;
	height:32px;
	margin:0 auto;
	font-size:14px;

	color:#666;
	line-height:16px;
	margin:0 auto;
	margin-top:15px;
}
.paihangbang12 ul li p:hover{
	color:#c81623;
}
.paihangbang13{
	width:390px;
	height:355px;

	position:absolute;
	top:33px;
	left:-156px;
	z-index: 1;
}
.paihangbang13 ul li{
	float:left;
	width:130px;
	height:167px;
	background:#fff;

}
.paihangbangtu{
	width:100px;
	height:100px;

	margin:0 auto;
	margin-top:15px;
}
.paihangbang13 ul li p{
	width:123px;
	height:32px;
	margin:0 auto;
	font-size:14px;

	color:#666;
	line-height:16px;
	margin:0 auto;
	margin-top:15px;
}
.paihangbang13 ul li p:hover{
	color:#c81623;
}
.paihangbang14{
	width:390px;
	height:355px;

	position:absolute;
	top:33px;
	left:-234px;
	z-index: 1;
}
.paihangbang14 ul li{
	float:left;
	width:130px;
	height:167px;
	background:#fff;

}
.paihangbangtu{
	width:100px;
	height:100px;

	margin:0 auto;
	margin-top:15px;
}
.paihangbang14 ul li p{
	width:123px;
	height:32px;
	margin:0 auto;
	font-size:14px;

	color:#666;
	line-height:16px;
	margin:0 auto;
	margin-top:15px;
}
.paihangbang14 ul li p:hover{
	color:#c81623;
}
.paihangbang15{
	width:390px;
	height:355px;

	position:absolute;
	top:33px;
	left:-312px;
	z-index: 1;
}
.paihangbang15 ul li{
	float:left;
	width:130px;
	height:167px;
	background:#fff;

}
.paihangbangtu{
	width:100px;
	height:100px;

	margin:0 auto;
	margin-top:15px;
}
.paihangbang15 ul li p{
	width:123px;
	height:32px;
	margin:0 auto;
	font-size:14px;

	color:#666;
	line-height:16px;
	margin:0 auto;
	margin-top:15px;
}
.paihangbang15 ul li p:hover{
	color:#c81623;
}
.paohangbangxiantiao{
	width:58px;
	height:1px;
	background:#f10214;
	top:32px;
	left:10px;
	position:absolute;
}
.baitiao{
	width:190px;
	height:210px;
overflow:hidden;
	cursor:pointer;
}
.huafei{
	width:47.5px;
	height:70px;
	float:left;
	position:relative;

}
.huafei11{
	position:absolute;
	top:210px;
	left:0;
	width:190px;
	height:210px;
background:#fff;
cursor:pointer;
}
/*.jipiao11{*/
	/*position:absolute;*/
	/*top:210px;*/
	/*left:-47.5px;*/
	/*width:190px;*/
	/*height:210px;*/
	/*background:#fff;*/
	/*cursor:pointer;*/
/*}*/
.huafei12{
	width:190px;
	height:24px;

}
.huafei12 ul li{
	width:47.5px;
	height:24px;
	float:left;
line-height:24px;
	text-align:center;
	font-size:14px;
}
.huafei12 ul li:nth-child(1){

	color:#e0112;
	border-top:1px solid #c81623;
}
.huafei13{
	width:190px;
	height:36px;

	overflow:hidden;
}
.huafei13 ul li{

	width:60px;
	height:36px;
	float:left;
	text-align:center;
	line-height:36px;
	font-size:14px;
	color:#666;
}
.huafei13 ul li:nth-child(1){

	background:#c81623;
	color:#fff;
}

.huafei14{
	width:190px;
	height:33px;

}
.huafei14 span{
	width:24px;
	height:22px;
	font-size:14px;
	color:#666;
	margin-left:5px;
	float:left;
	line-height:32px;

}
.huafei15{
	width:92px;
	height:22px;
	border:1px solid #999;
	float:left;
	margin-top:5px;
}
.huafei16{
	width:85px;
	height:24px;
	background:#c81623;
line-height:24px;
	text-align:center;
	font-size:14px;
	color:#fff;
	margin-top:20px;
	margin-left:8px;
}
.jipiao{
	width:47.5px;
	height:70px;
	float:left;
	/*position:relative;*/
}
.jiudian{
	width:47.5px;
	height:70px;
	float:left
}
.youxi{
	width:47.5px;
	height:70px;
	float:left
}
.jiayouka{
	width:47.5px;
	height:70px;
	float:left
}
.huafei i{
font-size:24px;
	color:#666;
	margin-left:8px;
}
.huafei span{
    color:#666;
	font-size:14px;
	text-align:center;
	width:47.5px;
	height:16px;
    cursor:pointer;
	margin-left:9px;
}
.huafei span:hover{
	color:#c81623;
}
.jipiao i{
	font-size:24px;
	color:#666;
	margin-left:8px;
}
.jipiao span{
	color:#666;
	font-size:14px;
	text-align:center;
	width:47.5px;
	height:16px;
cursor:pointer;
	margin-left:9px;
}
.jipiao span:hover{
	color:#c81623;
}
.jiudian i{
	font-size:24px;
	color:#666;
	margin-left:8px;
}
.jiudian span{
	color:#666;
	font-size:14px;
	text-align:center;
	width:47.5px;
	height:16px;
cursor:pointer;
	margin-left:9px;
}
.jiudian span:hover{
	color:#c81623;
}
.youxi i{
	font-size:24px;
	color:#666;
	margin-left:8px;
}
.youxi span{
	color:#666;
	font-size:14px;
	text-align:center;
	width:47.5px;
	height:16px;
cursor:pointer;
	margin-left:9px;
}
.youxi span:hover{
	color:#c81623;
}
.jiayouka i{
	font-size:24px;
	color:#666;
	margin-left:8px;
}
.jiayouka span{
	color:#666;
	font-size:14px;
	text-align:center;
	width:47.5px;
	height:16px;
cursor:pointer;
	margin-left:9px;
}
.jiayouka span:hover{
	color:#c81623;
}
.guanbtn{
	font-size:14px;
	color:#333;
	top:20px;
	right:5px;
	position:absolute;
}




